[2015-05-04 19:51] Mulchman commented on #122
Hadn't thought of it like that. I was thinking about adding it to the move popup, like this: http://imgur.com/94ikcN8

(mockup in paint, so excuse terrible-ness)

[2015-05-04 19:56] Mulchman commented on #122
Or, what about the classes added to the new move popup icon: http://imgur.com/RQVlbI9

![Example](http://i.imgur.com/RQVlbI9.png)

[2015-05-04 20:00] dasilva333 commented on #122
Not really, Ive thought about adding more icons to the move pop up but due to the mobile limitation only fitting 6 icons I haven't added new ones like swap. However mats & consumables only ever take up 3 boxes max so a 4th wouldn't be so bad. I'll leave it up to you to decide whatever you think is better/easier to write.

Good luck bro

[2015-05-04 20:29] dasilva333 commented on #131
@weborican try 2.3.4 only available in the ios branch and let me know if it's fixed I'll be updating all branches to the latest version later on

[2015-05-04 21:30] weborican commented on #131
Will test as soon as I get home from work. How exactly do I test the iOS branch without a new ipa for iOS?

[2015-05-04 21:45] dasilva333 commented on #131
Simply update your iOS copy to the latest version, should read 2.3.4

[2015-05-04 21:46] dasilva333 commented on #131
Via hydra hydration auto updater

[2015-05-04 21:58] weborican commented on #131
That's what I've been trying to do, but it doesn't seem to detect the new version. Three finger tap doesn't tell me there is a new version either, it simply refreshes.

[2015-05-04 22:18] M3Rocket commented on #131
Same for me with Android. Didn't show 2.3.3, and now not 2.3.4. Still on 2.3.2

[2015-05-04 22:24] dasilva333 commented on #131
Yeah its only part of the IOS branch at the moment, still making adjustments to it. To use it you have to be part of the FlightTest or be jailbroken and have the AppStore.ipa installed

[2015-05-04 22:33] weborican commented on #131
I have the non-jailbroken version I installed manually after sending you my iPhone's udid. Is that why I'm not seeing it? I can always delete it and install the FlightTest version.

[2015-05-04 22:53] weborican commented on #131
OK, back home now and I have installed the TestFlight version, which gave me 2.3.4.

Tested with my two cases and this version seems to take care of that particular problem. I will test some more later tonight, but looks like we are good for now.

[2015-05-05 00:42] dasilva333 commented on #131
Great let me know if you find anything else and we can re open the ticket otherwise I think this case is solved. thanks a lot man you're a huge help!

[2015-05-05 00:42] #131 closed

[2015-05-05 00:44] dasilva333 commented on #91
@Titus-s check version 2.3.5 it has a big improvement of the current setup thanks

[2015-05-05 02:25] AngelFireOmega commented on #129
sure.
![screen](https://cloud.githubusercontent.com/assets/12227071/7466189/0813a608-f311-11e4-807f-b9ba559da811.png)

[2015-05-05 03:51] AngelFireOmega commented on #129
I tried to change my MAC OS X language to English and then it works.
After I change it back to Traditional Chinese (zh-TW) this issue happens again.
I think this is a language related one.

[2015-05-05 06:05] r3mus opened #132 "Iron Regalia Boots don't appear in Iron Banner filter"
When filtering for Iron Banner gear, it appears the Iron Regalia Boots don't show up in the list.

[2015-05-05 07:06] Titus-s commented on #91
One more issue.
Steps:
1. Create loadout
2., Select one Primary and one Special weapon
3. Try to move loadout to character where primary bucket is full (contains 10 items)
Actual results:
Transfer Confirm dialog box says that primary weapon will be swap
When you click Transfer appear information "There are no item slots available to transfer this item" and loadout transfer stops.
Expected results:

[2015-05-05 13:10] dasilva333 commented on #132
Problem already reported as issue #97 please check existing open issues before creating a new one.
thank you

[2015-05-05 13:10] #132 closed

[2015-05-05 13:15] dasilva333 commented on #129
Can you try 2.2.8 on your OS X with Traditional Chinese enabled?
The link for the file is here: https://github.com/dasilva333/TowerGhostForDestiny/blob/34311e3411b73d6c8c795d8d1cbe5b148d25c1e7/tower_ghost.zip
Install instructions can be found here at the bottom: http://dasilva333.github.io/TowerGhostForDestiny/

[2015-05-05 13:23] wickles opened #133 "Must login every time on iOS"
I have to login every time I open the iOS app. It's very frustrating and I usually opt for other apps on mobile because of it. I only play on PSN though so I can't say if this is an issue for Windows Live login.

![img_1144](https://cloud.githubusercontent.com/assets/4229542/7473288/ff2a3024-f2ee-11e4-9d9d-297511b724ed.jpg)

[2015-05-05 13:25] dasilva333 commented on #133
It's by design, on Android it works fine. It's not something I can fix it's due to InAppBrowser's cookie policy. Sorry @wickles closing this ticket as it's something out of my control

[2015-05-05 13:25] #133 closed

[2015-05-05 13:28] wickles commented on #133
Okay. Just wanted to make sure since I didn't see any other tickets on this.

[2015-05-05 13:30] wickles opened #134 "iOS (7+) status bar not shown or incorrect color"
In iOS 7+ the status bar at the top is supposed to adjust color to match the colors used in the app. Not sure if this is done automatically or decided by the developer, but I think it's automatic.

Currently it's now shown in TGD, here's what it looks like:

![img_1145](https://cloud.githubusercontent.com/assets/4229542/7473448/17207cd2-f2f0-11e4-99c8-d09ce75e6a84.jpg)

Here's what it should look

[2015-05-05 14:26] tonymccallie opened #135 "Problem selecting heavy to be equipped."
When I put more than one heavy in a loadout and click the checkbox to mark one as equipped, nothing happens. If I close the loadout and reopen, I can see the checkmark.
If I click on both checkmarks, nothing happens, but if I reload the loadout, BOTH are checked. I'm on 2.3.5 on Chrome.

[2015-05-05 17:00] dasilva333 commented on #91
@Titus-s thanks for finding all these weird edge cases for me. I got it fixed now but not how you expected it. Even without the special weapon in the loadout simply transferring one item to a bucket that's full prompts that it can do it but then fails. I would expect for it to say that it can't do it and then skip it or say it can do it and then get it done, I went with the latter option.

So just

[2015-05-05 17:49] lanejcf commented on #103
Sorry to open this one up - I have found that when running 2.3.5 in Chrome if I
1) Select show duplicates
2) Select refresh
it then shows all the items, with duplicates in the menu still selected, then the option for duplicates does not work.

[2015-05-05 18:01] rkingsla commented on #103
I can repro this....

One addition: If you select Reload in Chrome, the issue is resolved.  Not optimal and not expected behavior, but a viable workaround for a short term.

[2015-05-05 18:54] moeyjar opened #136 "Intellect/Discipline/Strength out of order - UI Consistancy"
In Destiny, you view in Intellect/Discipline/Strength, the plugin has this incorrect.  See screenshot.

![ordering](https://cloud.githubusercontent.com/assets/12259797/7480439/e6166594-f33e-11e4-8ce8-f037b5f66a45.JPG)

[2015-05-05 18:55] moeyjar opened #137 "Enhancement: Keep the top bar visible when scrolling with multiple characters"
It would be nice if the TGD chrome app would keep the top bar when scrolling down.

![topbar](https://cloud.githubusercontent.com/assets/12259797/7480483/2e986be6-f33f-11e4-8486-c726e5b79b0b.JPG)

[2015-05-05 18:57] pattont opened #138 "Enhancement: Loadout Menu Re-Ordering"
I have already requested this once before, but I decided to have another go at explaining the issue with pictures. As you can see from below I have a number of loadouts. When I edit any of them, the order changes to last edited at the bottom. If I want them in any kind of order other than this I have to re-open and save every other one to get my order back which is a huge pain. Please O'Please imp

[2015-05-05 18:57] moeyjar opened #139 "Enhancement: Show the total of Intellect/Discipline/Strength on equipped gear."
On the top bar, perhaps list the total intellect/discipline/strength of your equipped armor.  When you equip another item, or add to a loadout, it should also list this (some people may want a specific loadout when raiding/IB, etc)

[2015-05-05 19:04] pattont commented on #139
Yea, that would be pretty awesome!

[2015-05-05 19:06] pattont commented on #137
Agreed - I find myself scrolling back to the top as well to remember when I am transferring some items. Not sure having it hover on the way down is the best option, maybe just have a form of the icon in some sort of background horizontally, but have it really transparent in the background.

[2015-05-05 20:22] M3Rocket commented on #136
Unfortunately, I think the popups are all from destinydb.com. They need to change the order there.

[2015-05-05 20:23] dasilva333 commented on #136
@moeyjar That's right the layout, and order of stats and perks is determined by DestinyDB so it's not something I control or I can fix. Thanks for your feedback

[2015-05-05 20:23] #136 closed

[2015-05-05 20:27] dasilva333 commented on #137
Sorry guys I don't agree with this change, thanks anyways and thanks for your feedback

[2015-05-05 20:27] #137 closed

[2015-05-05 21:26] r3b3lspy commented on #99
Sync is working better now, I'll keep testing, thanks, any idea when the app will go live?

[2015-05-05 21:44] dasilva333 commented on #99
The app is literally under review as we speak so I should get the rejection by today or tomorrow. I'll change this ticket from a bug to enhancement and leave it open as a reminder to get cloud saves for Firefox working. thanks guys

[2015-05-05 21:57] dasilva333 commented on #58
Alright so here's what I need you to do:

Install this apk: https://github.com/dasilva333/TowerGhostForDestiny/blob/div-movile-dist/TowerGhostforDestiny-release-issue-58.apk?raw=true
Visit this website on your computer: www.jsconsole.com
type in this command in that website :listen 61D5B245-CA98-4E53-9EDF-C4A14AF12B62
open the app and click ok to the debug popup
look at the results on the website

[2015-05-05 22:08] dasilva333 commented on #103
Expect the fix in 2.3.6, feel free to close the ticket once you confirm it's fixed thanks

[2015-05-05 22:10] dasilva333 commented on #135
If you can confirm it's also fixed in Chrome 2.3.6 that would be great, feel free to close the ticket when you do thanks!

[2015-05-05 22:16] dasilva333 commented on #128
@M3Rocket problem fixed in 2.3.6 try it out and confirm its fixed, feel free to close the ticket once you do.thanks

[2015-05-05 23:18] Mulchman commented on #122
Created https://github.com/dasilva333/TowerGhostForDestiny/pull/140 with some of my thoughts on reworking things.

[2015-05-05 23:20] Mulchman commented on #128
I haven't tried 2.3.6, but I also encounter this on a Samsung 10.1" tablet.  It's like the click that makes the move popup show up in the first place is immediately sent through to the move popup dialog before the user even sees it.

[2015-05-06 00:11] M3Rocket commented on #128
Just checked with 2.3.7 and the same problem. Don't think the fix worked. @Mulchman describes the problem well.

[2015-05-06 00:31] Vondrook opened #141 "Inventory never loads"
Trying to use the app on my iPhone 6+ and the app never loads my inventory. I am able to login to my Microsoft account and it shows my budgie.net account page but after that it goes to a grey screen with a spinning blue bar and nothing ever loads. I have tried waiting up to ten minutes with nothing ever happening. I have tried uninstalling and reinstalling.  I have tried going to the menu and refr

[2015-05-06 01:54] M3Rocket commented on #97
Currently using 2.3.7. I just acquired IB level 32 Titan Mark, Helmet and Chest this past week. But when the IB Armor filter is on, it does not show that I have any of those items. When I select Show Missing Items, it doesn't show the post-TDB Titan Helmet or Chest piece (indicated by the "I" on the top right of the icon), but shows the Titan Mark.

[2015-05-06 01:56] AngelFireOmega commented on #129
This issue is still happening on v2.2.8.
Last night, my friends also report the same issue on Tradition Chinese Windows environment.

For more information, we are using PS4 account.

Thanks.

![2 2 8](https://cloud.githubusercontent.com/assets/12227071/7486316/fb98b394-f3d5-11e4-9f04-60768b2f596b.png)

[2015-05-06 01:57] M3Rocket opened #142 "Iron Banner Weapon Filter missing Timur's Lash"
Setting filter to IB Weapons show Efredeet's Spear and Jolder's Hammer correctly. But Timur's Lash is missing. When I select Show Missing Items, there are two pre-TDB Timur's Lash showing. My Timur's Lash is TDB, so that could be the reason why the filter isn't working.

[2015-05-06 02:15] M3Rocket opened #143 "DestinyExotics Share URL missing IB Armor"
The DestinyExotics Share URL is missing IB Armor.

[2015-05-06 02:34] dasilva333 commented on #129
@AngelFireOmega I think I messed up my version numbers, if you could please do me the favor of trying 2,2.6 found here:
https://github.com/dasilva333/TowerGhostForDestiny/blob/b466aa27da491307fb5b54088dcc52be056be352/tower_ghost.zip

Also I have another question, do you know what is the last version that worked for you?

[2015-05-06 02:36] dasilva333 commented on #141
Are you jailbroken or flight test? What version is it reporting? Let me know thanks

[2015-05-06 02:36] dasilva333 commented on #143
issue #97

[2015-05-06 02:36] #143 closed

[2015-05-06 02:36] dasilva333 commented on #142
issue #97

[2015-05-06 02:36] #142 closed

[2015-05-06 02:37] Doubleken commented on #129
I got the same problem too, still cannot fix it. :(

[2015-05-06 02:39] Vondrook commented on #141
Flight test. Version 2.3.7

On Tuesday, May 5, 2015, Richard Pinedo <notifications@github.com> wrote:

[2015-05-06 02:47] AngelFireOmega commented on #129
@dasilva333 v2.2.6 is still not working for me. Same problem.

[2015-05-06 12:16] Adiel-dev opened #144 "Iron Banner gear"
My Iron Regalia Glove and Timur's Lash are showing not up when the Iron Banner filter is active.

[2015-05-06 12:18] #144 closed

[2015-05-06 12:18] Adiel-dev commented on #144
Someone posted the issue already. I do have to mention that every items is level 32.

[2015-05-06 12:28] pattont commented on #141
Try force closing and re-opening. If it has you log-in again to your bungie account so be it, but that should fix it. Mine has hung up like this before.

[2015-05-06 13:04] dasilva333 commented on #141
@Vondrook what is the last version you remember working for you? If you provide me your UDID
http://whatsmyudid.com/ I can create a version for you to debug the problem. Thanks

[2015-05-06 13:06] dasilva333 commented on #129
@AngelFireOmega for the third and last time, do you remember what version if any version worked for you? I know if you switch to English font it works but in the past has any version worked for you with the Chinese font enabled? Your answer might provide me a clue as to when I broke it so please let me know it's important.

@Doubleken  You have the same problem on your Kindle Fire? DIM is only for

[2015-05-06 13:07] Vondrook commented on #141
It has never worked for me. At work now will get you the udid later this
evening when I get off work.

On Wednesday, May 6, 2015, Richard Pinedo <notifications@github.com> wrote:

[2015-05-06 20:30] dasilva333 commented on #37
@chrisdudek So I added some logic for when a search is active the title bars don't show anymore, I think this change cuts down on all the extra stuff shown that's not relevant during a search. As for the spotlight search I thought about it and I don't like the idea. See if you're under View > All, scrolled all the way to the bottom of the page and u want to search for something right now it's as s

[2015-05-06 20:42] dasilva333 commented on #46
@chrisdudek Thanks for your feedback Chris.
As you can see in the history I made a few tweaks after we spoke so it's more stable on windows-phone/android but I haven't brought back View All. just find it distracting to see weapons/armor/general and then all again which to the user looks like a repeat of weapons. I think I'll add a toast style notification on swipe to indicate what View you're on a

[2015-05-06 22:49] chrisdudek commented on #46
Sounds great. Look forward to seeing this in the future! Thanks for all of the work!

[2015-05-06 22:52] chrisdudek commented on #37
Yeah - I agree it would be a lot of scrolling to get back to the top in order to search. With all of the improvements you've been making, I'm finding myself having to search less and less. The swipe to filter enhancement was a big win.

[2015-05-07 02:05] Doubleken commented on #129
I don't have Kindle Fire, cannot test it.

[2015-05-07 02:08] AngelFireOmega commented on #129
No. This add-on has never worked for me in Chinese.

Richard Pinedo <notifications@github.com> 於 2015年5月6日 星期三寫道：

[2015-05-07 12:38] ssoriche commented on #134
The hydration process takes over the status bar when it looks for a new version and overrides whatever settings have been made for the status bar.

Leaving this open as an enhancement to be revisited on the day when hydration is no longer used.

[2015-05-07 18:02] Mulchman opened #145 "Running app from source: "Account has no data""
Checked two versions of the app - dasilva333's master branch (up to date - 2.3.8) and my fork's master branch (up to date w/ dasilva333's latest changes merged in - 2.3.8) - and both are giving "Account has no data" errors when loading. Chrome store version 2.3.7 still working as expected.

Random bug on my end? Anyone who runs the app via source experiencing this?

[2015-05-07 18:03] Titus-s commented on #91
I found some strange issue on version 2.3.7. During test character was on Orbit.
Yesterday I found that sometimes I cannot move item equipped on source character. No error in console.
Today I try to move loadout with armor, as I do everyday. It stoped in the middle.
Here is what I have before move loadout:
![screenshot_2015 05 07_19h43m56s_008_](https://cloud.githubusercontent.com/assets/11790750/

[2015-05-07 18:30] Mulchman commented on #145
fetched upstream, merged to my fork's master, and now the error is "Error loading inventory {"error":true}" so it looks like work is actively being done. I'll close this and keep watching for source changes.

[2015-05-07 18:30] #145 closed

[2015-05-07 18:32] rkingsla commented on #145
I'm seeing this as well.  I believe it has to do with the work that is being done with the 'background' Bungie page load. If I close the page that opens, it seems that I can refresh and get data.

This is very early data and shouldn't be taken as a cause, but just an observation.

[2015-05-07 18:59] Cravit8 opened #146 "Suggestion: for easy scrolling, freeze rows containing Vault/Character title"
On my iPad in landscape, it'd be easier to know what character I'm looking at items for when I'm below the vault/character graphic emblems.
My suggestion is the include the character emblem in the frozen pane of the top command row.

I generally stay in the view showing 'All' items, so I often have to scroll back up to confirm I'm switching items to the correct character.

Dasliva333 you are aweso

[2015-05-07 19:49] lanejcf commented on #103
Sorry but i believe it may not working as hoped in 2.3.7 in Chrome
if I
1) Select show duplicates
2) Select refresh
it then shows some of the duplicates that were originally shown,but not all

[2015-05-07 22:40] dasilva333 commented on #103
Agreed I too can replicate the issue, thanks I'll get it fixed

[2015-05-07 22:41] dasilva333 commented on #91
Thanks for the update @Titus-s I'll see if I can reproduce it

[2015-05-07 22:43] dasilva333 commented on #146
Originally someone requested this for the desktop, and I dismissed it, now someone is requesting it for mobile, now for mobile it usually wouldn't make sense because you already have the quick scroll but if the layout can fit all 4 columns then quick scroll wouldn't show or apply. I believe this is a valid suggestion at this point. Thanks for the feedback

[2015-05-07 23:02] Adiel-dev opened #147 "More feedback when swiping"
When I swipe on iPhone (either to the left of right) I can filter through ARMOR/WEAPONS/GENERAL.

It would be nice if the application briefly showed me in which view/state I was. I remember being very confused when I swiped for the first time and I thought it was a bug.

Also you can't go to the ALL state/view when swiping. There needs to be way simple way get back to the default state. Like a ded

[2015-05-07 23:03] dasilva333 commented on #147
Already part of issue #46 thanks for your feedback

[2015-05-07 23:03] #147 closed

[2015-05-07 23:05] Adiel-dev opened #148 "Improve Sign In Prompt"
I posted this on Reddit but thought it would be more appropriate here:

You could clarify the text more. Make it more of a welcome screen instead displaying it as an error.

Something like:  "The app has been updated. In order to continue,  please sign-in with your PSN/MS credentials"

So text that explains why stuff is happening, appearing or why some actions are needed to be done is a good way t

[2015-05-07 23:06] dasilva333 commented on #148
Heh thanks for your feedback, I actually just commit those changes like 20 minutes ago. Coming in 2.4.0 so I'll leave this ticket open for future comments make sure it's all good for everyone.

[2015-05-07 23:18] Adiel-dev commented on #122
While this feature is very useful. It's complicated at frist to get a grip on how it works. Great that there's a dedicated "normalise" button(now called "extras" for some reason) but it still raises some questions if you never used it before:

What does it mean?
What items does it apply to?
What steps do I have to take in order to use the feature?

[2015-05-07 23:37] Mulchman commented on #122
@Adiel-dev it is a bit technical sounding; I agree. In my fork I've cleaned up the text slightly, which might help? (Ignore the other option for 'normalize everything' as it's WIP.)

![example](http://i.imgur.com/nhuyvmg.png)

As for the 'extras' button in the move popup, that was done to not clutter up the move popup with tons and tons of buttons. Right now it's only used if you click on a consum

[2015-05-07 23:37] dasilva333 commented on #148
Here it is:

http://i.imgur.com/b8ovpI8.png

I'll leave it up to @joshhunt if he wants to make any further improvements to this. Thanks guys

[2015-05-07 23:39] joshhunt commented on #148
I'm happy to tackle this over the weekend if I have some time in-between raids. Is there a branch for this with it starting to be improved?

[2015-05-07 23:42] Adiel-dev commented on #148
Before you roll it out. I would most definitely use a sans serif font!

[2015-05-07 23:43] joshhunt commented on #148
Oh don't worry, I'll be sure to spice it up as appropriate.

[2015-05-07 23:43] dasilva333 commented on #148
@joshhunt thanks man whenever you can, it's already part of ios and master branch you can check out either of them. It's a temporary measure to hopefully appease Apple's reviewers.

[2015-05-07 23:57] Adiel-dev commented on #122
"Is equally distribute xyz across your characters sufficient?"

Yes most definitely. But now you have to make sure people understand that "Normalize" and "Normalize Everthing" are actionable buttons. Now they kind of look like headers. And now comes the tricky part: how will you get people to use the feature? How will they know how to get to this screen?

The "extra" button does suggest that there

[2015-05-08 02:00] Mulchman commented on #122
Thanks, @Adiel-dev , good suggestions and comments.

[2015-05-08 05:36] MostDefiantly commented on #58
Sorry for the delay. It's still a no go, and here is the pastebin: http://pastebin.com/vtsxgiLT

I let it sit around 90 seconds before forcing the browser to close, and then 6-7 minutes ensuring no screen timeout. The output was literally 844 pages of the repeated "checking for window close undefined"" (in Word) :)

[2015-05-08 13:57] lanejcf commented on #103
I think it is fixed in 2.4.0
:-)

[2015-05-08 16:32] dasilva333 commented on #103
Great thanks for all your help closing this issue now

[2015-05-08 16:32] #103 closed

[2015-05-08 16:35] dasilva333 commented on #58
@MostDefiantly I hate for you to keep trying all these failed attempts but whenever you have a chance try out 2.4.0 found in the store, it has some new logic for all devices so it automatically loads your inventory after you sign in once, maybe this change will work for you too. Let me know thanks

[2015-05-08 17:36] dn4cer commented on #97
None of my Titan's IB gear is being recognized by the "Sets" filter.

Iron Regalia Great Helm
Iron Regalia Plate
Iron Regalia Greaves
Jolder's Iron Sash

I don't have the gauntlets so I don't know if those would get detected or not.

[2015-05-08 18:44] bluetidepro opened #149 "Make contributing easier/smoother"
I absolutely love using this extension. I'm a UI/UX designer, and want to contribute to the repo and help amp up the design/ux a bit. You guys should look at adding a few files to the repo to help people to contribute. A few things would be a `CONTRIBUTING.md`, `.editorconfig`, etc.

Here are some good examples used by Bootstrap:

- https://github.com/twbs/bootstrap/blob/master/CONTRIBUTING.md
- h

[2015-05-08 18:51] Mulchman commented on #149
I'd love some help: https://github.com/dasilva333/TowerGhostForDestiny/issues/122

Where should the functionality go, what should it look like, toggles for including/excluding the vault, toggles for including/excluding certain consumables/materials (warlocks don't need sapphire wire), etc.

[2015-05-08 18:54] bluetidepro commented on #149
Okay, I'll take a look. It would also be a good idea to add to the `readme.md` sine wats to run the app locally and how to build it and such locally so we can work on it! :)

[2015-05-08 19:54] bluetidepro commented on #66
I made a first step with this here: https://github.com/dasilva333/TowerGhostForDestiny/pull/150

I have lots of good ideas on how to improve the UI/UX! :)

[2015-05-08 20:21] dasilva333 commented on #66
Good stuff man thanks for the new icons, unfortunately it's not just the images under the www/assets folder that need change I also need the new icons replaced under www/res. Finally I need the source icon in 1024x1024 resolution to submit manually to the Apple App Store, if you fix up the pull request to include the www/res files I'll have no problem pulling it. Also make sure to include a separa

[2015-05-08 20:39] Mulchman commented on #149
I only know how to run locally on Windows through Chrome-
* get the git repository setup on your machine however you like and keep it up to date however you like
* turn on developer extensions in Chrome and then 'load unpacked extensions...' and point it to where you have the git repository on your machine

(I disable the chrome store version of TGfD while developing, too, so I don't get confused

[2015-05-08 21:51] dasilva333 commented on #37
If you can confirm the title bars are gone as part of 2.4.0 when you search, that would be great check it out and let me know thanks

[2015-05-08 22:01] chrisdudek commented on #37
Solid man. Gone. Thanks for the enhancement.

[2015-05-08 23:54] #37 closed

[2015-05-08 23:58] dasilva333 commented on #110
@weborican @Titus-s @lanejcf  expect the button in 2.4.1 thanks man

[2015-05-08 23:59] dasilva333 commented on #134
@wickles can you confirm it's better in 2.4.0? Thanks man

[2015-05-09 02:06] M3Rocket opened #152 "Loadouts not transferring to Firefox"
My loadouts are showing and loading correctly on Chrome and Android. But it is not showing up at all on my Firefox extension.

I just noticed this with 2.4.1, but may have been there since 2.4.0?

[2015-05-09 02:14] MostDefiantly commented on #58
@dasilva333 Don't worry about me man, if even one other person can benefit from this it's all worth it. :)

With that said, still no dice. On app reopen it still had the (new!) welcome XBL/PSN banner. Forcing a refresh leaves a blue loading bar.

[2015-05-09 02:20] M3Rocket commented on #152
Pastebin: http://pastebin.com/BNfFM2iH

[2015-05-09 04:45] PillowMetal opened #153 "set menu filters not working after clear filter icon clicked"
Clicking "Set/Crota's End Weapons" does not filter the displayed weapons properly. It actually performs the same function as "Set/All Weapons". This occurs in the chrome extension v2.4.1.

[2015-05-09 05:00] PillowMetal commented on #153
Performed a refresh of my browser and now the menu item is working fine, not sure what was causing the initial problem. I will close this issue and open a new one if this problem reappears and I can identify the conditions that are causing it.

[2015-05-09 05:07] PillowMetal commented on #153
I can now reliably reproduce this problem, and it has to do with the new clear filter icon. To reproduce, filter the weapons set by Crota's End weapons. Then click the clear filter icon which makes the display reset. Now the Crota's End menu item is still selected, but even selecting another item and then coming back to it still does not make it work.

By the way this occurs with any menu item in

[2015-05-09 07:30] kohum opened #154 "Destiny DB Tooltips for raid armor is incorrect"
The Destiny DB tooltips for raid armor alone is incorrect.  This issue seems to have been introduced in the latest version.  Non raid armor stats are showing up correctly.

[2015-05-09 08:40] PillowMetal opened #155 "Timur's Lash missing from Iron Banner Weapons Filter"
When filtering from the Set menu for Iron Banner Weapons, Timur's Lash is not shown.  All other IB weapons appear, but not this one.

[2015-05-09 09:55] Titus-s commented on #91
In version 2.4.1 it still doesn't work.
I've try to debug it, and for now I know that function unequip in Item.js doesn't work as it should.
In line 96 filter doesn't return any items, otherItems.length is 0, so it can't equip another item.
Hope it help.

[2015-05-09 11:20] TopTenTiger commented on #97
My Iron Regalia Gauntlets (post-TDB) are not recognized by the Iron Banner Armour Filter.

[2015-05-09 11:21] TopTenTiger commented on #155
I can confirm this. Mine doesn't show up either.

[2015-05-09 15:02] dasilva333 commented on #58
It's okay if it says "Please wait, loading your inventory" for up to 3 minutes don't press refresh. or are you saying it's stuck for you in the other blue loading bar that says "loading user data"? Sorry I didn't clarify there's two loading bars now to help debug this process

[2015-05-09 15:04] dasilva333 commented on #152
Cloud based loadouts are not supported, closing this ticket for issue #99 thanks for your feedback

[2015-05-09 15:04] #152 closed

[2015-05-09 15:10] dasilva333 commented on #153
Good catch, expect the fix in 2.4.2 thanks

[2015-05-09 15:11] dasilva333 commented on #154
Good catch sniper kitty expect the fix in 2.4.2

[2015-05-09 15:12] dasilva333 commented on #91
Ill be debugging this today hopefully get it all fixed. Thanks for the help

[2015-05-09 15:18] dasilva333 commented on #97
Hey guys so to bring everyone up to speed on why this is an issue, the code is from DestinyExotics, it's hardcoded to recognize only one version of the item, I came up with a temporary fix as a sibling structure that provides the ids that it's missing. I filled in some of the Iron Banner Weapons but haven't managed to catch them all. The bulk of the work is simply gathering the unique id of these

[2015-05-09 15:19] dasilva333 commented on #155
It all fits under issue #97 follow the issue to read the latest comment thanks

[2015-05-09 15:19] #155 closed

[2015-05-09 16:44] wickles commented on #134
Better but kind of hard to read, doesn't look right.

![img_1147](https://cloud.githubusercontent.com/assets/4229542/7551066/e39c26d4-f62f-11e4-9b69-a9779b7cefe9.jpg)

[2015-05-09 16:49] dasilva333 commented on #134
I like the way it looks, it's the same matching color as the app's background instead of the pitch black it used to be. What do you think @ssoriche is there room for improvement?

[2015-05-09 17:01] ssoriche commented on #134
I've played around with the different settings to make the text white. In the iOS simulator it changes no problem, but in the Hydrated application, it refuses to change.

I'll play around with it some more, maybe it's just a timing thing.

[2015-05-09 17:05] dasilva333 commented on #91
Sorry guys I still can't reproduce it. I don't know if it's because I have 3 different classes and it only happens with transferring and equipping armor across profiles.

[2015-05-09 17:07] #135 closed

[2015-05-09 17:10] dasilva333 commented on #129
@AngelFireOmega can you help me out I can't figure out how to change the font in Chrome so I can reproduce it, is this something that you change in your Mac settings and I would have to change in my Windows? Let me know I'd like to make this more international friendly thanks.

[2015-05-09 17:15] AngelFireOmega commented on #129
@dasilva333 what I did was just change the Mac OS system language. It can be changed in the Mac OS preference. as for windows, I think it should be the sam.

[2015-05-09 17:31] Doubleken commented on #129
Before I use Chinese system in Mac, after change it to English, still NOT work for me.

[2015-05-09 19:15] MostDefiantly commented on #58
It's the other "Loading user data..." only after I try and refresh, other wise it sits with just the Welcome banner after after the login.

[2015-05-10 01:09] rvvisse commented on #97
All of my IB weapons and armor are showing up now.  Great work on writing up a fix and thanks for showing me where to put all the missing items.   Thanks again for the awesome app!!

[2015-05-10 01:09] #97 closed

[2015-05-10 02:42] kohum commented on #154
Lol... didn't realise that was my profile pic until I read your comment. It has been changed ! :)

[2015-05-10 07:05] Titus-s commented on #91
Tested on version 2.4.2,
There is only one error in console (appear during loading extension in chrome):
Navigated to chrome-extension://ejdpapdpfojhhfkkdecdjkbdmdmkekha/www/index.html
index.html:49 GET chrome-extension://ejdpapdpfojhhfkkdecdjkbdmdmkekha/www/cordova.js net::ERR_FILE_NOT_FOUND
I've made some investigation. Here is detail:
It turn out that all my armor (helmet, gauntlets and boot ar

[2015-05-10 08:21] kohum opened #159 "Can't transfer equipped armor in v2.4.3"
Unable to transfer an armor piece that is equipped on another character.  Unequipped armor works fine.  Equipped weapons work just fine.  This issue only seems to be affecting armor.

[2015-05-10 09:36] Titus-s commented on #159
This is the same issue as I've described in #91.

[2015-05-10 19:26] dasilva333 commented on #91
Thanks a ton man I've no clue why I added that in there I really appreciate helpful people like you taking the time to understand and really help out. Expect the fix in 2.4.5

[2015-05-10 19:52] dasilva333 commented on #159
well said @Titus-s closing this as it will be addressed in issue #91

[2015-05-10 19:52] #159 closed

[2015-05-10 21:31] PillowMetal commented on #153
This is now fixed, closing issue.

[2015-05-10 21:31] #153 closed

[2015-05-11 01:53] pattont opened #161 "iOS Slowdown"
The most recent few versions seems extremely slow to load especially once a new version is loaded. Ultimately, when the app is loaded and all of my inventory appears everything is fine, but when I am waiting for it to load it's taking much longer than some of the older versions.

Killing the app and re-loading does not help.

This is the screen I sit on ALOT on both my iPad Mini 2 and iPhone 6 and

[2015-05-11 02:43] AngelFireOmega commented on #129
Just download the latest version v2.4.8 and still not working.
![tgd](https://cloud.githubusercontent.com/assets/12227071/7557817/900eef1e-f7ca-11e4-93e6-bf342aaa6631.png)

[2015-05-11 02:48] Doubleken commented on #129
Yes, still cannot work for me too.
But DIM v3 work really good!

[2015-05-11 14:25] bluetidepro commented on #149
Speaking of all this, do you guys have a better way to talk about the project off of Github? Maybe a free slack group or chat or something? Might be easier to talk things out that way! :)

[2015-05-11 19:15] M3Rocket commented on #161
This also happens on Android with the latest versions.

I can reproduce it eaily--delete the cache and program data, let the program update via hydrate. Then on first load, sign-in via PSN. The "Loading user data..." bar appears, then disappears. Wait about 20-25 seconds and everything is there although some icons might be broken.

After the initial load, hit "Refresh", now the "Loading user data.

[2015-05-11 19:30] dasilva333 commented on #161
On iOS the system can't remember your authenticated cookies so it has to re-authenticate the cookie every time you open the app, that's why prior to 2.2.8 there was always a sign in screen. After that version the sign in prompt was merely replaced with an automated way of signing in by opening a hidden window for Bungie.net and waiting for their servers to authorize you. That's why the process "Pl

[2015-05-11 19:40] matthubb commented on #161
I'm not sure they are just referring to the initial start up time: I was using it on an iPad 3 (or maybe 2) last Wednesday and inventory refreshes were taking so long I'd think it had crashed.

[2015-05-11 19:55] rkingsla commented on #91
Sorry, folks.... Haven't been reporting on this issue.  Might have gotten a nice shout out (LOL!) if I'd have stayed with this more.

Scenario I noticed today:

Vault has 36 weapon items in it. Due to the way that items move, if I try and move and item from Character A to Character B, it's going to fail with the somewhat vague message "There are no item slots available to transfer this item." Avai

[2015-05-11 20:29] pattont commented on #161
Yea, even before when I had to click the sign-in on Bungie.com through iOS
it wasn't as slow as it is now. There were times when the old login
wouldn't go away after the page was loaded, but the app would work even
when manually closing it.

I'm guessing you have an async function to fetch the cookie and when it's
received kicks off the inventory load?

On Mon, May 11, 2015 at 3:40 PM matthubb <no

[2015-05-11 20:31] M3Rocket commented on #161
Should I open another issue for the Android delayed/slow inventory loading problem? The delay between 2.1.4 and 2.4.8 is quite noticeable.

[2015-05-11 20:36] dasilva333 commented on #161
@M3Rocket no don't open another issue if anything I'll rename the title for this issue

@pattont The cookie is fetched really quickly within the first second of loading the app, that cookie is always bad for ios/wp so it has to get a new one from bungie that process takes 1 second to 1 minute
on android that same cookie is always good so it skips straight to the loading process

The actual loading

[2015-05-11 22:24] dasilva333 commented on #161
Thanks @pattont I bug found, introduced by the simple 'duplicates filter' not only was it increasing my loading time by 3x what it should be but it was also doubling the time it took to refresh every time so 10s, 20s, 30s, 45s for every refresh.

Thanks again expect the fix in 2.4.9

[2015-05-11 22:37] dasilva333 opened #162 "To @Mulchman and other developers working on TGD"
Hey guys I could post this on the wiki but it wouldn't receive as much visibility, I recently made a change to the code that allows me to track all errors and exceptions happening per version. I managed to take care of a lot of the big bugs but there is still some big ones left. This means I won't adding any new features or enhancements until every single problem is cleared. The reason I'm bringin

[2015-05-11 22:42] Mulchman commented on #162
After commenting out the ga.js line, I get this:

Uncaught ReferenceError: tracking is not definedapp.init @ app.js:1133m.Callbacks.j @ jquery.js:2m.Callbacks.k.fireWith @ jquery.js:2m.extend.ready @ jquery.js:2J @ jquery.js:2

[2015-05-11 22:46] dasilva333 commented on #162
Good catch sir! Also comment out that line where ever it might be when you work on it.

In the future you won't have to do this because they'll be independent of each other. Thanks!

[2015-05-11 23:59] Mulchman commented on #122
Playing around a bit. Here's a mockup (some code + MS paint) of a distribute/split type dialog for consumables[1] (http://imgur.com/RI4dpif):

![example](http://i.imgur.com/RI4dpif.png)

Was thinking the workflow would be:
* hit a button or sub-button from the main TGfD view and this dialog pops up
* the initial view starts with all of your non-vault characters highlighted and their consumables[1]

[2015-05-12 00:03] dasilva333 commented on #122
That's pretty good I like the way it is now but I say this is a great addition and makes using it a lot easier than having to pick each one out. What do you think @Adiel-dev @lanejcf @bluetidepro

[2015-05-12 00:31] Mulchman commented on #122
There's something else I want to tie into this that I didn't mention. I think there needs to be 2 'modes': one for the distribution/split type of thing and one for easy and/or multiple character bulk transfer. Something I find myself doing a lot of, is individually transferring stacks of materials from one character to another because I need to level up a gun or piece of armor. I want an easy way

[2015-05-12 01:33] Mulchman commented on #122
New example (http://imgur.com/z9p1H6v):

![example](http://i.imgur.com/z9p1H6v.png)

(Apologies for the scaling; working from laptop and had to zoom out to fit the entire dialog on the screen.)

@dasilva333 @Adiel-dev @bluetidepro @lanejcf

[2015-05-12 01:53] pattont commented on #161
Excellent news :-)

On Mon, May 11, 2015 at 6:24 PM Richard Pinedo <notifications@github.com>
wrote:

[2015-05-12 03:05] dasilva333 commented on #122
It's good man I think this one gives you even more options but I think it's a bit hard to understand I showed it to my room mate and even after reading it was a bit unclear as to what to do. I think this might just be a verbiage issue but I'll let the real designers handle it. Thanks again @Mulchman

[2015-05-12 09:45] matthubb commented on #161
This appears to have resolved the slowdown for me. Thank you.

[2015-05-12 10:05] M3Rocket commented on #161
Confirmed fixed for me as well on Android.

[2015-05-12 10:20] matthubb opened #163 "Suggestion: standardised formatting for maintainability"
**Caveat**

This is just a suggestion to aid / ease contribution submissions and review, I'm no expert in collaborative github-based web-development and usually I write in a white-space sensitive language where this is less of an issue.

**Cause**

There have been some pull requests which have had huge change sets because someone's editor has  made changes to whitespace all over the place. I've ma

[2015-05-12 10:48] #161 closed

[2015-05-12 11:09] seg7 opened #164 "Loadouts stopped working in 2.5.1"
...was ok in yesterdays version! Javascript console:

Uncaught TypeError: Cannot read property 'tierType' of null(anonymous function)
@ loadouts.js:449t
ga.js:38 crash reported

I guess it self reported in the last line :)
On a unrelated side note, there's a call to /www/cordova.js Failed to load resource: net::ERR_FILE_NOT_FOUND in index.html not packed inside the extension.

[2015-05-12 11:54] dasilva333 commented on #164
Can you confirm its fixed in 2.5.2 thanks?

[2015-05-12 12:00] seg7 commented on #164
Nope, same error with 2.5.2

On Tue, May 12, 2015 at 12:54 PM, Richard Pinedo <notifications@github.com>
wrote:

[2015-05-12 12:22] dasilva333 commented on #164
Can you tell me or show me what's on the broken loadouts? Thx

[2015-05-12 12:34] ssoriche commented on #163
I like this suggestion, would definitely help with maintainability, and doesn't look terribly complicated to implement.

[2015-05-12 12:43] matthubb commented on #163
Here's a possible starting point for such a script: [gistfile](https://gist.github.com/matthubb/650381e727f9539efa13)

Looks in `www`, `www/js` and `www/css` for `html`, `js` and `css` files to reformat them using js-beautify with it's default parameters. It's probably not very graceful, not much in the way of safeguards. Wouldn't suggest it was run outside of a version controlled environment for

[2015-05-12 12:47] drammarb commented on #164
Faced the same issue with my crota's end weapons loadout. When I remove abyss defiant from the list, it works fine. May be this helps in solving the issue.

[2015-05-12 13:15] ZeroGwafa commented on #164
My previously saved loadouts, both show, and load.  But when trying to make a new loadout with 2.5.2, I get the same JS "Uncaught TypeError: Cannot read property 'tierType' of null".  Looks like line 450 in loadouts.js?

[2015-05-12 13:18] seg7 commented on #164
Ok i guess what the problem is, all loadouts works fine since 2.5.2 but one, after adding/removing one by one the culprit is the Song of Ir Yût which i think it's the only weapon from all loadouts that currently sits at the vault, all other are equipped in the characters, maybe this can pinpoint the error.

[2015-05-12 13:25] dasilva333 commented on #164
yeah that's the problem expect the fix in 2.5.3

[2015-05-12 13:49] Joshbuss opened #165 "Suggestion: Compare Items"
It would be a nice feature to be able to select two or more items and compare their stats&perks side by side as we can in the game. Being able to do this between items on different characters or within the vault would be essential

Not sure how this would behave on mobile

[2015-05-12 13:53] bluetidepro commented on #122
I feel like this is way overly complicated. What about setting it up as more of a table view like this:

http://bluetide.pro/121Hp/5oyulMQK

The idea is you have a row for each material (and it shows the total of the item you have across the characters), and then each input would default `val` to the amount that character currently holds. Then a far right button icon that would equally distribute

[2015-05-12 14:11] aap007 opened #166 "(2.5.2) iOS (iPhone 6) Move menu icons in landscape very big"
First of all.. I love this app! Thank you, Richard and everyone who contributed!

Just downloaded v2.5.2 and I am very happy with all the improvements I have seen so far.

I noticed that the icons in the move menu have become very big in v2.5.2, unnecessary consuming a lot of the precious space, see below.
![img_3591](https://cloud.githubusercontent.com/assets/10104857/7588707/069b7586-f8bf-11e4-8

[2015-05-12 14:17] dasilva333 commented on #122
@bluetidepro with up/down ticks I think it would make it a lot better. It's easy to follow and gives you the most control but I dont know if it fits the use case @Mulchman had in mind. I honestly am partial to any of these ideas I think they're all good ultimately it just has to work and be easy to understand right away.

Keep up the good work guys

[2015-05-12 14:20] bluetidepro commented on #122
@dasilva333 Maybe I missed the use case @Mulchman had then, what was the specific use case you are referring to?

[2015-05-12 14:26] dasilva333 commented on #163
Perfect well done @matthubb I'm focusing completely on bugs at the moment but when I get a breather I'll integrate that script into my build folder. If you'd like to submit a pull request for adding that file to the build folder along with the reformatted files I wouldn't mind either. Thanks for your help

[2015-05-12 14:29] dasilva333 commented on #122
The quote is from this:

I think if we load up your form with that intent in mind the Spinmetal Row will probably have a default vaule of the balanced amount, so to get it to the max amount it would take either a change of the # manually or a lot of up ticks to get it to max, perhaps a double up arrow to represent the max value to set? I'm not sure I just think mobile wise setting the input field

[2015-05-12 14:29] matthubb commented on #163
As written, it's using relative paths from the current working directory and this being `TowerGhostForDestiny`. Is this okay? Or should the paths be modified so that it's run from `TowerGhostForDestiny/build`?

[2015-05-12 14:51] matthubb commented on #122
Regarding the **"I need upgrade mats for this item"** use case.

I'm working on a specific feature for transferring the exact materials required for available upgrades on a given item.

[2015-05-12 15:07] bluetidepro commented on #122
@dasilva333 I see what you mean now. How about next to the inputs, there is a button with an icon that would signify `max` or something. That way the user can quickly `max` out any of the inputs for a character. That would solve that problem! :)

[2015-05-12 16:43] havvkeye opened #168 "Inventory never loads"
iPhone 6 using app through TestFlight

Stopped working around 2.5.1 and I sent an email, did not see a reply.

It is currently getting hung up on the blue loading bar screen after several updates, now running 2.5.3 still not being able to load the inventory.

[2015-05-12 16:45] Mulchman commented on #122
Thanks for the comments thus far! I really do appreciate the feedback and ideas/criticisms. I'll be calling the pic above, http://imgur.com/z9p1H6v, "mega pic". It didn't take a lot of time to put that together, so don't feel like you can't say what you want because some time has already been invested or something. I did try to model it a bit after the loadouts UI, but it appears I failed, lol. ;)

[2015-05-12 17:00] lucianoweimer opened #169 "Suggestion: User Experience"
You should put an X cross over the popup menu when you click on an item. Or just close the popup if you click outside

For those items you have equipped you should labeled it or just put them on left. It tooks me a lot to discover that the right column is for equipped. I know there is a grey color for that functionallity but im sure it wont work for a lot of users

I would put the menu icon on the

[2015-05-12 17:07] dasilva333 commented on #163
the paths should be modified so that it's run from the build folder indeed, keep it relative so no need to hardcode TowerGhostForDestiny in the script instead do something like ../www/js/

Thanks man

[2015-05-12 17:09] dasilva333 commented on #168
Are you getting an error message? What blue loading bar is it stuck on?

There's currently two:
1. "loading user data" (problem with your account if its stuck here)
2. "please wait, loading your inventory" (problem with your connection if its stuck here)

Let me know so we can figure it out. Thanks

[2015-05-12 17:16] matthubb commented on #163
PR #167 has paths relative from `build`

[2015-05-12 17:37] dasilva333 opened #170 "Message to developers and collaborators"
Thanks to @bluetidepro for setting up a chat room to collaborate and discuss in depth some of the more involved interactions, visit the link below for further instructions on how to participate.
Thanks guys!

https://github.com/dasilva333/TowerGhostForDestiny/wiki/Slack-Group-Chat

[2015-05-12 17:40] bluetidepro commented on #170
Yay!

[2015-05-12 17:45] bluetidepro commented on #122
@Mulchman Okkkkayyy. Now I'm on the same page. So I def think we can use this http://bluetide.pro/121Hp/5oyulMQK as a good starting point to cover all the features you mentioned. Might need to add a few other buttons that describe what you mention in a one click/tap motion, but I think that's the best overall idea/layout. And then just added the ability to make it more visible in the nav. Right?

[2015-05-12 18:13] havvkeye commented on #168
It is the second one.  It no longer has the screen asking me to log in, it just loads directly to this screen each time I open it.  I have soft reset my phone and still the same thing.  It happens on wifi and LTE when the destiny app seems to transfer and work fine.  (I am assuming you meant my connection to the bungie servers but more info is usually better than not enough)

[2015-05-12 18:16] chrisdudek opened #171 "iOS Version- Losing Icons"
Hi -

Since I can PM you via GitHub, I figured I would file this "issue", which is more of a question. I've noticed that over the past few updates that icons are disappearing, such as my Vault and then the first 3 in the hamburger icon:

![tgfd 2-5-3](https://cloud.githubusercontent.com/assets/11835064/7594824/e646ee48-f8a8-11e4-8fdb-5d25ed8727a7.png)

Not sure if I need to grab the latest build f

[2015-05-12 18:25] M3Rocket opened #172 "Android Landscape versus Portrait icon size/display"
In versions 2.4.x, when in portrait mode, it shows two columns. In landscape, it shows four columns. This was perfect on my Nexus 7 (2013). But on my Nexus 4, it always only show two columns--resulting in overly large icons in landscape mode. On the smaller Nexus 4 screen, perhaps three columns in landscape is the best compromise since 4 columns will make the icons too small and hard to operate?

[2015-05-12 19:05] havvkeye commented on #168
I am an idiot - sorry for wasting your time.  I found the answer in your known issues log and it is working now.  I did in fact need to log in through settings.

[2015-05-12 19:10] #168 closed

[2015-05-12 19:47] dasilva333 commented on #171
Yeah I noticed that happened to me too a few times when I created a new hydrated build I'll have to investigate the cause and figure out if it's something I need to fix. Thanks

[2015-05-12 19:49] dasilva333 commented on #172
Just tell me what you think looks best and I'll change it. I can control the # of columns for each individual device so give me your desired outcome:

Nexus 7: 1 portrait, 3 landscape
Nexus 4: 2 portrait, 3 landscape

I improved it the best I could but without the physical device in my hand I can't tell if it looks too small or not. Thanks for your feedback

[2015-05-12 19:53] Cintron88 commented on #58
I have been following this thread for the past week hoping you could come up with something that would help us kindle users join the fun of not being forced to switch characters just to switch weapons or even a heavy ammo synthesis.....Thank you for all the time and effort your putting into this and just know that the issue is still just being able to log into the app. Instead of signing into the

[2015-05-12 20:00] M3Rocket commented on #122
While a table solution makes sense to cover complicated scenarios (normalize/move item/items from selected vault/characters to selected vault/characters), I think it can also make the interface unnecessarily cluttered and complicated.

Items can be simplified by logical grouping. For instance, Spirit Bloom, Spinmetal, Relic Iron, and Helium can be grouped as upgrade materials. All the energies/sha

[2015-05-12 20:02] dasilva333 commented on #58
@Cintron88 thanks for following my app there is indeed a lot of Kindle users who can't use my app because of the limitations of some of the underlying tech.

The problem stems from here:
https://github.com/dasilva333/TowerGhostForDestiny/blob/master/www/js/app.js#L755

That line never executes which makes it impossible for you guys to use the app. The community can help by posting a support thread

[2015-05-12 20:05] M3Rocket commented on #172
Nexus 7 (both 2013 and original): 2 portrait, 4 landscape
Nexus 4: 2 portrait, 3 landscape
Nexus 5: 2 portrait, 3 landscape

[2015-05-12 20:12] dasilva333 commented on #58
@Cintron88 and @MostDefiantly
I just thought of something else to officially call this an issue I can't fix and really make sure the problem is L755 so here's what I need you to do:

Install this apk: https://github.com/dasilva333/TowerGhostForDestiny/blob/div-movile-dist/TowerGhostforDestiny-release-issue-58.apk?raw=true

(it's an older version but that should be fine)

Visit this website on your

[2015-05-12 20:36] M3Rocket opened #174 "View Options: # of columns and show Vault as the last column (rightmost) rather than first (leftmost)"
Currently, the Vault is always in the first column shown in TG. I suggest moving it to the last column for a couple of reasons:

1. Usually, when I need to move a couple of items, it is usually because it is equipped on another character rather than in the vault. For example, when I'm running Crota's End, after one kill with my Titan, the group usually goes again with their next character, or Warl

[2015-05-12 21:51] dasilva333 commented on #172
Got it, it won't be fixed any time soon because I'm focusing on bugs but your feedback does help get it right once and for all, thanks

[2015-05-12 21:55] dasilva333 commented on #174
I don't know man I don't like the right side simply because that's DIM's side and I don't want to feel like I'm imitating them I suppose there's a lot of valid reasons for putting it on one side or the other, perhaps make it an option and please everyone involved. I'll leave it open for discussion for now. Feel free to message @bluetidepro for an invite to slack, read issue #170 for more info

[2015-05-12 22:56] chrisdudek commented on #174
It's definitely a personal preference issue. I like it first because I store everything I can in the vault and use that as my Starting Point. After I'm done with any of my characters, I always move my valuables back to the vault.

For your specific issue, I would suggest creating Loadouts. For example, you could have a Crota Loadout and then simply "equip" that Loadout on your Warlock after you're

[2015-05-12 23:46] M3Rocket commented on #174
Loadouts work fine until you have duplicate weapons and near full inventories. Then items start getting moved willy-nilly to make room. Without the ability to lock weapons to certain characters, it quickly becomes a problem just trying to figure out where certain weapons are moved.

The Bungie site has the vault flyout on the right. It just makes more sense to me since the storage vault isn't the

[2015-05-12 23:48] M3Rocket commented on #174
BTW--none of this is an issue on a larger computer screen with a mouse and keyboard of course since one can easily have all four columns on the screen at once.

[2015-05-13 02:57] MercenaryDF opened #175 "issue on kindle fire hd"
I was enjoying optimal functionality  for well over a week then on thursday may 7th i couldn't load up. It was stuck in the loading screen. I tryed again a few minutes later and it was the same. So i uninstalled and reinstalled it. This time i got stuck at the Bungie.net page with it already recognizing my account. When i x out it always prompts me to sign in. When i try it recognizes my bungie.ne

[2015-05-13 11:36] dasilva333 commented on #175
Try this version it's 2.3.7 before I implemented the auto sign in:
https://github.com/dasilva333/TowerGhostForDestiny/blob/div-movile-dist/TowerGhostforDestiny-issue-175.ipa?raw=true

To install it there's two methods:
1. if you're jailbroken you should be able to just install it using your normal method (ifunbox etc)
2. if you're not broken you need to provide me your UDID (http://whatsmyudid.com

[2015-05-13 12:07] revdarwin commented on #172
iPhone 6.  2 columns in portrait and 3 in landscape.

[2015-05-13 12:16] revdarwin opened #176 "Weapon detail not working properly on iPhone"
![image](https://cloud.githubusercontent.com/assets/12428509/7610053/33d5e0ec-f93f-11e4-81d4-a9ca0c001a84.jpg)

I get this when I long press a weapon in the iPhone 6 iOS 8.3.

[2015-05-13 12:25] dasilva333 commented on #176
Does it happen sometime or everyti me? Can anyone else reproduce this? Let me know Thx

[2015-05-13 12:31] matthubb commented on #176
No problem on TestFlight TGD version 2.5.4 on iPhone 6.

[2015-05-13 13:49] revdarwin commented on #176
Doesn't happen every time. Sometimes it doesn't pull up anything at all. Then sometimes I can only see a small corner of it.

Seems like most of the time I get the detail as long as I keep my finger down but it disappears when I release to move my finger out of the way to read it.

[2015-05-13 15:25] dasilva333 commented on #172
@revdarwin I disagree I think 2 column portrait in iPhone 6 looks too small, I'm only supporting 2 column mode in iPhone 6+. I will make sure that iPhone 6 has 3 columns in landscape. Thanks for your feedback

[2015-05-13 15:30] dasilva333 commented on #176
Switching from bug to enhancement since it only occurs during certain situations, it might be due to a network error or a connection aborted. I'm using a third party plugin so I'm not sure if I can fix the problems within it. The way it's supposed to work is as follows:

1. Hold finger on item wait until it says Loading... (release finger) pop up should open and stay open because the finger was re

[2015-05-13 16:50] dasilva333 commented on #164
@seg7 can you confirm its fixed in 2.5.4? thx

[2015-05-13 16:51] dasilva333 commented on #154
@kohum Can you confirm it's been fixed? Thanks

[2015-05-13 16:53] dasilva333 commented on #141
@Vondrook I'm assuming it's fixed or you stopped caring, it's been over a week. I'm closing this ticket to get clean out any old tickets. Thanks anyways

[2015-05-13 16:53] #141 closed

[2015-05-13 16:54] dasilva333 commented on #128
@Mulchman  @M3Rocket This problem has been fixed including the height of the overlay and making sure the item click doesn't transfer to the move popup click. Let me know so we can close this out thanks

[2015-05-13 16:57] dasilva333 commented on #91
@rkingsla there's been a ton of fixes to address that specific issue of 'no items slots available' after using the loadouts, try getting it to break or crash and feel free to close out the ticket once you verified 2.5.4 is working right. thanks man

[2015-05-13 16:58] seg7 commented on #164
@dasilva333 yes working flawless now, i though you closed the issue before :)

[2015-05-13 16:59] dasilva333 commented on #171
@chrisdudek can you confirm a few things for me:
- are you jailbroken or flight test?
- what is the version number you are using?
- have you tried uninstalling and reinstalling?

Let me know thanks

[2015-05-13 17:00] dasilva333 commented on #164
I'm glad, i don't see it being closed previously but thanks for the speedy response

[2015-05-13 17:00] #164 closed

[2015-05-13 17:13] chrisdudek commented on #171
Not Jailbroken. Gave you my UDID.

Version 2.5.4

Not yet

[2015-05-13 17:21] MercenaryDF commented on #175
That worked perfectly your the man !! Thanks for your help !!

Richard Pinedo <notifications@github.com> wrote:

[2015-05-13 17:23] dasilva333 commented on #171
It could be a corrupted hydra update i've seen on windows phone where a hydra update messed up the javascript files perhaps on ios it messes up the graphics file. Try doing a reinstall just hold the icon, press X on the springboard and reinstall it via the FlightTest app and let me know how it goes. Thanks man

[2015-05-13 17:24] dasilva333 commented on #175
I'm glad i got an interim solution for you but the real fix would be making it work in the current version with whatever I changed. Stay tuned while I provide you a debug build to figure out what's wrong. Thanks

[2015-05-13 17:30] chrisdudek commented on #171
Thanks. I just submitted a request to join the TestFlight app. After that I am assuming it should show up in my TestFlight app.

[2015-05-13 17:33] dasilva333 commented on #171
Oh I see sorry I misunderstood, if your not jailbroken and you gave me your UDID then I understand exactly what the problem is and I'll get it fixed by tonight, basically you used this IPA:
https://github.com/dasilva333/TowerGhostForDestiny/blob/div-movile-dist/TowerGhostforDestiny.ipa

I've noticed the images are broken on that install package but not on this one:
https://github.com/dasilva333/To

[2015-05-13 17:35] chrisdudek commented on #171
No worries. I already deleted the app so I'll redownload it whenever I get back home. Thanks for looking into this!

[2015-05-13 18:49] M3Rocket commented on #128
Yes--seems fixed for me. Closing the issue. THANK YOU!

[2015-05-13 18:49] #128 closed

[2015-05-13 19:11] M3Rocket commented on #110
The icon looks nice, but can the tooltip on the icon read "Clear All Filters!"

I'm not a fan of icons only, because honestly, most average users are befuddled by them.

[2015-05-13 19:28] dasilva333 commented on #110
Good idea, tooltips are always a plus on icons. Expect it in 2.5.5 thanks

[2015-05-13 20:28] Vondrook commented on #141
Sorry, the day I was supposed to get the phone info back to you we had some
bad weather come through our area and I forgot about it. After the last few
updates you have made it has been working just fine. Once again, sorry for
not responding.

On Wednesday, May 13, 2015, Richard Pinedo <notifications@github.com> wrote:

[2015-05-13 20:40] M3Rocket commented on #122
@matthubb @bluetidepro @Mulchman Any thoughts on my idea above for the normalize dialog box? I tried to stay consistent with regard to the current UI.

[2015-05-13 20:53] Mulchman commented on #122
@M3Rocket I liked it. My first thought was that I don't know if the dialogs can have images in their titles? Join us on slack; there's a equalize_normalize channel on there.

[2015-05-13 22:36] dasilva333 commented on #171
Closing out this ticket the app is now available in the App Store :)
http://www.reddit.com/r/DestinyTheGame/comments/35vpsl/discussion_tower_ghost_for_destiny_now_available/

[2015-05-13 22:36] #171 closed

[2015-05-13 23:10] M3Rocket opened #177 "Suggestion: Transfer Item Dialog Box"
I store all the weapon telemetries in my Vault. Often times, I find myself needing just one of each telemetry when turning in bounties. Using Tower Guardian on mobile/tablet requires using the pop-up keyboard to override the default value which is the max amount. The keyboard does NOT pop-up automatically on Android, and I need to click on the amount number to bring it up, then backspace over the

[2015-05-13 23:18] M3Rocket commented on #177
Maybe even add "spinner" controls:

![tgd transfer](https://cloud.githubusercontent.com/assets/3769123/7623128/aaf91b66-f98b-11e4-83b3-7f894b5bc9fb.png)

[2015-05-13 23:34] Mulchman commented on #177
I like these ideas.

[2015-05-14 00:31] dasilva333 commented on #177
This is a good one thanks man

[2015-05-14 01:11] M3Rocket commented on #177
@Mulchman Since this dialog appears when you click on a specific item from a specific location (vault/character), "All" does mean from one specific location to another. Although the buttons can simply say "Min" and "Max."

As for the scenario where you want to consolidate all the same items from multiple locations to one character, I think perhaps a good place for this "Consolidate" button would b

[2015-05-14 02:05] M3Rocket opened #178 "Loadouts should not allow multiple Exotics to be "equipped""
Currently, one can select multiple Exotic Armor/Weapons to be equipped and saved as a loadout. This will obviously result in an error when you try to apply that loadout to any character.

![tgd-bug](https://cloud.githubusercontent.com/assets/3769123/7624754/a169b06c-f9a2-11e4-83cb-9434008e338f.png)

TG should only allow one exotic armor and one exotic weapon to be equipped in any loadout.

[2015-05-14 08:22] Doubleken commented on #172
My phone is 6'' Huawei mate 7 1920x1080, wish can display 4 columns in landscape. (Now in 3 columns)
Or make a option, that we can choose how many columns?

[2015-05-14 08:38] Doubleken commented on #119
Or put all menu on top like Computer version, can swap right or left to display?

[2015-05-14 08:42] AngelFireOmega commented on #129
It's working foe me now. Thanks for the good work.

[2015-05-14 08:45] Doubleken commented on #129
Same, it work prefect now!
Love this App!

[2015-05-14 13:57] dasilva333 commented on #148
@bluetidepro is helping me with the styling this is what he's got so far:
http://bluetide.pro/1ggE4/3ADyoeSc

[2015-05-14 15:55] Solhawk17 opened #180 "SET filter - select All with Show Missing Items"
A trapped error occurs when in the "Set" filter with "Show Missing Items" selected. In this filter select Exotic Weapons, then select "All". Error happens when "All" is selected.

Application requested I post this on GitHub.

Cheers!

[2015-05-14 15:55] dasilva333 commented on #180
Expect it fixed in 2.5.6 thx

[2015-05-14 17:28] r3mus opened #182 "Attempt to equip decoherant engram"
Here's a screenshot - should be all you need. (This time I checked for dupes first :)

![screenshot_551](https://cloud.githubusercontent.com/assets/1480253/7637601/ffde6198-fa23-11e4-832f-bb5582bfac4b.png)

[2015-05-14 17:32] dasilva333 commented on #182
Seems to be working as expected, the engram will simply be moved out and not equipped so it shouldn't be an issue. Is something wrong when you try that? Do you get an error? Let me know Thx

[2015-05-14 17:33] r3mus commented on #182
Yeah - it completely blew up. I had to move the engram to the vault to get it to work. Didn’t drop an error though, which was strange, it just hung. I didn’t check the console for errors, but I could try and reproduce it to get you that.

On May 14, 2015 at 10:32:11 AM, Richard Pinedo (notifications@github.com) wrote:

Seems to be working as expected, the engram will simply be moved out and not eq

[2015-05-14 17:34] dasilva333 commented on #182
Yes pls do and post and console errors you get Thx a lot man

[2015-05-14 17:40] r3mus commented on #182
Nothing in the console, but this time an error did come up:

**No more items to try to unequip the Abyss Defiant**
On May 14, 2015 at 10:34:40 AM, Richard Pinedo (notifications@github.com) wrote:

Yes pls do and post and console errors you get Thx a lot man

—
Reply to this email directly or view it on GitHub.

[2015-05-14 18:15] ssoriche opened #184 "Visual Indicator for a full Vault"
Ran into this the other day, didn't realize that I'd filled my vault of weapons and I wasn't able to transferring anything until I freed up some space. It would be nice to have a visual indicator (like turning the Weapons header red if there's no space).

Screenshot attached of the section I'm talking about:

![](https://i.imgur.com/Eg0FmAX.png)

If that reaches 36/36 then turn that section red, o

[2015-05-14 18:27] bluetidepro commented on #184
No problem @ssoriche, I can easily do this! I'll show you a few solutions here in the next few days and you can let me know what you prefer! :+1:

[2015-05-14 18:40] M3Rocket commented on #122
Latest iteration just in case anyone reading here rather than Slack has any other suggestions:

![tgd equalize](https://cloud.githubusercontent.com/assets/3769123/7639013/ddeb8908-fa2d-11e4-9122-fdcf14e038c9.png)

[2015-05-14 19:36] dasilva333 commented on #129
Great thanks for the feedback guys good stuff

[2015-05-14 19:36] #129 closed

[2015-05-14 22:56] chrisdudek commented on #46
Hey @dasilva333 just wanted to see if you feel good to close this out. For me, right to left is pretty reliable. Left to right is pretty hit or miss. But the notifications at the top are very welcomed; they look great.

[2015-05-14 23:35] M3Rocket commented on #174
I've been thinking more about this in a general way. Perhaps instead of just an option to position the Vault column, maybe provide a way to order the columns. That way, people would be free to choose how they want their columns to be displayed. And while we're at it, provide a way for people to specify number of columns shown on their device:

![tgd-view-options](https://cloud.githubusercontent.co

[2015-05-14 23:38] M3Rocket commented on #174
Perhaps merge https://github.com/dasilva333/TowerGhostForDestiny/issues/172 with this one.

[2015-05-14 23:50] Mulchman commented on #174
@M3Rocket I like the idea of being able to rearrange the Guardian ordering and having them always be constant in whatever order the user set.

[2015-05-15 00:19] dasilva333 commented on #174
@M3Rocket I think that dialog is brilliant it addresses a lot of the concerns various people have address over time, I'll keep #172 open because I'd still like to fix the default for those devices.

I'd also have to consult @bluetidepro and see if there's an easy way to dynamically switch the breakpoints for the number of columns. Let me know thanks

[2015-05-15 00:19] #110 closed

[2015-05-15 00:19] #148 closed

[2015-05-15 00:19] #176 closed

[2015-05-15 00:24] dasilva333 commented on #46
Yeah let's close this out thanks for the reminder I say it's good to go and yeah I agree the swipes are hit or miss sometimes perhaps we can make that a separate ticket to investigate the Hammer js library and what tweaks we can apply to it. Thanks

[2015-05-15 00:24] #46 closed

[2015-05-15 00:26] dasilva333 commented on #122
What does the Advanced.. button do?

[2015-05-15 00:27] dasilva333 commented on #119
This will look better after some polish I'm sure of it

[2015-05-15 00:30] dasilva333 commented on #178
Changing to bug because it actually results in an error mid transfer. Thanks for the report

[2015-05-15 00:31] M3Rocket commented on #110
FYI--Toot-tip doesn't appear for me on either Firefox or Chrome 2.5.5

[2015-05-15 00:38] M3Rocket commented on #122
That "Advanced..." button is likely going to lead to a separate dialog with a much more complicated options for distributing, merging, consolidating, etc. materials between all characters in batch mode rather than one material at a time. That complicated setup could take awhile to flesh out, so "Advanced..." can easily be left out for now.

[2015-05-15 00:42] M3Rocket commented on #119
Yep. If there's a way to turn it into a slideout/flyout menu (left or right doesn't matter), that would be ideal I think.

[2015-05-15 00:48] dasilva333 commented on #182
Can you get it to say "No more items to try to unequip the " on a consistent basis? I can't reproduce either of the problems. The second time that error came up was it transferring an engram as the swap? What were the conditions for that? Please let me know as much detail as you can so I can try to reproduce it thanks.

[2015-05-15 01:01] r3mus commented on #182
I'll get it to reproduce again and send you a screenshot of the inventory in its current state. Would an extract of local storage help too?

[2015-05-15 01:59] wickles opened #185 "Drag and drop"
Enable us to drag and drop items between characters/slots, like in new version of DIM (v3.0+). I figured there would be a ticket for this already and it's just on the back burner or something, but I didn't see any.

[2015-05-15 02:05] pattont opened #186 "iOS Horizontal View"
Love the new look from 2.5.7, but it introduced some viewing issues on the iPad in horizontal view.

1: Top bar now covers 1/4th of the screen

![image](https://cloud.githubusercontent.com/assets/2903357/7645573/eb3fa54c-fa84-11e4-81f3-4f5b6c0df0bc.jpg)

2: Loadouts only work in horizontal view, clicking them in vertical mode does nothing
![image](https://cloud.githubusercontent.com/assets/2903357

[2015-05-15 02:09] bluetidepro commented on #186
@pattont I'll take a look at these issues and get them fixed :)

[2015-05-15 02:10] pattont commented on #186
Awesome thank you!! This app is so great..

On May 14, 2015 at 10:09:37 PM, Zach Reed (notifications@github.com) wrote:

@pattont I'll take a look at these issues and get them fixed :)

—
Reply to this email directly or view it on GitHub.

[2015-05-15 02:14] M3Rocket opened #187 "New 2.5.7 redesigned weapon attack values font size too large and/or icons too small"
@bluetidepro Overall, very nice design refresh! Thank You!

The attack values text overlay on the reduced size weapon icons are too large resulting in most of the icons being obscured.

Nexus 4 (4.7" screen):
![nexus4_2015-05-14-18-39-49](https://cloud.githubusercontent.com/assets/3769123/7645437/10d72f8e-fa6a-11e4-8ee2-308e0cdef309.png)
![nexus4_2015-05-14-18-40-02](https://cloud.githubuserconten

[2015-05-15 02:19] bluetidepro commented on #187
@M3Rocket Good notes, I'll look at all these issues and see what I can do :)

[2015-05-15 02:34] Doubleken commented on #187
I got the same problem too, Damage Font is too large, and Icon is too small
![screenshot_2015-05-15-10-29-04](https://cloud.githubusercontent.com/assets/12265051/7645827/89a1f434-faed-11e4-911f-667d066fd84f.jpeg)
and "Equipped" text is too long, that only show 1 column now :( (before can show two)
![screenshot_2015-05-15-10-29-19](https://cloud.githubusercontent.com/assets/12265051/7645844/c960f12

[2015-05-15 02:35] dasilva333 commented on #185
I want something that works both on mobile and desktop so I've been holding off on that until I find a solution that works right. Also lots of bug fixing going on

[2015-05-15 02:37] dasilva333 commented on #182
Not really but if you could figure out how to get it to trigger would be most excellent and enough for me to fix it hopefully. Let me know anything you can thanks

[2015-05-15 02:40] wickles opened #188 "Little grey boxes on items with no associated stats"
Just a small visual bug. On weapons, combat armor, and stackable items, there is a box displaying a number indicating the attack, defense, or number of items. On other items there is a little box in the corner instead where the number would usually go. I'm guessing that shouldn't be there. This has been an issue for a while, just filing a ticket now.

![screen shot 2015-05-14 at 7 04 42 pm](https:

[2015-05-15 02:42] M3Rocket opened #189 "Auto-pad height is off by a pixel or two"
@bluetidepro Looks like the Auto-pad Height is off by 1- or 2-pixels. I drew the red lines to show where it started to go astray:

![tgd-auto-pad](https://cloud.githubusercontent.com/assets/3769123/7645930/35d19bb0-fa71-11e4-9426-e0f3d5314385.png)

[2015-05-15 02:44] M3Rocket commented on #189
Related to these issues:
https://github.com/dasilva333/TowerGhostForDestiny/issues/88
https://github.com/dasilva333/TowerGhostForDestiny/issues/121

[2015-05-15 03:06] M3Rocket commented on #185
Drag and drop works well with a mouse and large screen. I don't think it works as well on small to tiny touch screens on mobile devices. Using a finger just isn't very precise. I suggest consider implementing this only on the Chrome/FF plug-ins.

I can already forsee all kinds of problems of where did I drop the item when people try to use drag and drop on their phones, and they hit the edge of th

[2015-05-15 03:31] M3Rocket commented on #178
Copying this from Reddit because it's relevant to this discussion:

Hey, sorry I probably made myself unclear. As you suspected I am talking about loadouts. But it seems to me, loadouts are applied from top (Helmet) to bottom (Legs). But if you have an exotic equipped on your chest and then try to apply a loadout with an exotic helmet, the helmet is not equipped.

I hope I made myself clear this t

[2015-05-15 03:44] M3Rocket commented on #178
I think this could be solved by implementing a refresh and check before equipping (not transfer and store) in this particular logic:

1. Is there an exotic to be equipped in the loadout?

2. If the exotic being equipped is armor, is it being applied to the appropriate Guardian type (Titan, Warlock or Hunter)?

3. Is there already another exotic armor/weapon equipped on destination Guardian? If yes

[2015-05-15 03:47] r3mus commented on #182
Sigh. Spent the last 20 minutes trying to reproduce it. No dice. All I know is I had the engram and Oversoul Edict (equipped) on my Titan, tried to use a loadout to transfer to my Hunter (who was active, in game). The Abyss Defiant in the error I posted was currently equipped on the hunter.

If I manage to encounter it again, I'll let you know!

[2015-05-15 04:06] matt-cahill commented on #186
Came here to report the same bug. Would also like to commend the awesome-ness of the new look!

On a side note I can use the load out menu in vertical mode, I just have to tap it and then scroll the menu up to show the revealed options.

[2015-05-15 07:39] NoCodeLeftBehind commented on #172
Samsung Galaxy S4 Active
Portrait: 1 column (currently shows 2 but is too small)
Landscape: 3 columns (currently shows 2 but room for another)

[2015-05-15 13:06] rkingsla commented on #177
There seems to be ‘some’ confusion over the term ‘Normalize’.  I get it, but others seem to find it…  Odd. If I’m missing the wrap up over that discussion, apologies and disregard.

Might I suggest “Distribute’?

[2015-05-15 13:33] rkingsla commented on #91
Hey Richard!  I’m out of town working with a customer, and haven’t had a chance to test or even use TGD since Sunday. I’ll be exercising it heavily over the weekend.  Crota and the Vault of Glass are calling me…

I *LOVE* what I see.  It is really maturing.  Nice work, team!

[2015-05-15 13:36] rkingsla commented on #177
Disregard, guys...  I've been out of town since Sunday and just noticed the Normalize - distribute across characters dialog....  Nice add.  Great work!

[2015-05-15 13:57] Volcannon opened #190 "Changing which account Tower Ghost loaded up"
It would be nice if my PSN wasn't the first thing Tower Ghost loaded up, considering I mostly use my Xbox One.

[2015-05-15 16:51] Mulchman commented on #122
Appreciate it. I hope to get to it soon, but real work has been busy.

[2015-05-15 19:05] dasilva333 commented on #185
Agreed it's a very sensitive topic where a lot can go wrong easily so I won't approach it lightly. Thanks for the feedback @M3Rocket

[2015-05-15 21:29] Los556 opened #191 "Loadouts are not appearing in menu after being uploaded to the cloud."
I created a loadout and hit save, app says it was saved to cloud, then when I go to loadouts there's nothing there except for create and cancel. I'm using a Kyocera Hydro Android phone.

[2015-05-15 21:43] M3Rocket commented on #191
Try scrolling the menu upwards on Android. It's "hidden" below the menu cutoff after tapping the loadouts menu option.

[2015-05-15 22:11] Los556 commented on #191
After tapping loadouts it only says create and cancel. No loadouts show up, I've created two Crota and Vog, neither show up.

[2015-05-15 22:57] M3Rocket commented on #191
It works for me. I created one called Android Test on my Nexus 4, and it saved and shows everywhere else. Try clearing the app cache and restarting TGD--it will force it to redownload the 2.5.7 update.

[2015-05-15 23:05] M3Rocket opened #192 "Bungie Patch 1.2 causes maxed items to not show up in the Progress filter"
Since the Bungie 1.2 patch this morning, the "yellow fully upgraded border" surrounding the following is now showing as not fully upgraded:

1. Legendary Weapons
2. Legendary Armor
3. Exotic Armor

Strangely, fully leveled Exotic Weapons still show the correct yellow border. Wonder if this has something to do with the new HoW light level? Meaning come Tuesday next week, those weapons would NOT be

[2015-05-15 23:07] M3Rocket commented on #192
I'm noticing the same issue on Bungie's web site. So may be a bug on their end.

[2015-05-15 23:08] digitaljhelms commented on #192
This has been a long standing bug with Destiny. I have quite a few Exotic and Legendary weapons maxed out, either assigned to a character or in the Vault, that do not have the yellow border...

[2015-05-15 23:15] M3Rocket commented on #192
Hmmm. I have a screen shot from yesterday, and it worked just fine for me then.

[2015-05-15 23:15] Los556 commented on #191
That worked, actually had to clear data. Thank you.

[2015-05-15 23:15] #191 closed

[2015-05-16 00:17] TheNcredibleMrE commented on #187
I'm also having these issues. (galaxy note 4) The damage values are too big and the columns aren't aligning properly. I do really enjoy this app and thank you for the constant support. The UI look itself other than the bugs is great. Maybe add a size toggle for the icons because I find those too small as well.  I liked it back a few updates ago when they were about 100%-150% larger. A toggle would

[2015-05-16 08:49] brownbearDaniel opened #193 "Loadouts wont move secondarys or heavys"
![screenshot_2015-05-16-09-41-36](https://cloud.githubusercontent.com/assets/12470855/7665480/ccf32d66-fbb0-11e4-9920-bd62c25cad63.png)

[2015-05-16 13:56] ipaintformoney commented on #187
Having all of these same issues on my LG G3.

[2015-05-16 13:57] Joshbuss commented on #187
As well as on my HTC m8

On Sat, May 16, 2015, 9:56 AM ipaintformoney <notifications@github.com>
wrote:

[2015-05-16 16:46] weborican opened #194 "New post-patch engrams not showing up"
Looks like the new engrams obtained after the 1.2 patch are not showing up. I believe most (if not all) of these engrams were obtained doing the queen's bounties, but I'm not sure that matters.

I'm seeing them on my console and via bungie.net, but not on TGD. I do see older engrams thought, so it is definitely something to do with new ones.

[2015-05-16 16:50] weborican opened #195 "Postmaster public event packages not showing"
I'm not sure if they are supposed to show, or if they ever have, but I'm not seeing any of my daily public event packages that are at the postmaster on TGD. I currently don't have anything else waiting for me there, so I can't tell if this is only an issue with these packages or with all postmaster items. I will update this ticket if I manage to get something else in there that shows up on TGD.

[2015-05-16 18:13] weborican opened #196 "Landscape mode on iPad shows search bar / refresh all the time"
On the iPad, viewing TGD on landscape mode shows the search bar and the refresh timer fields all the time.
![img_0195](https://cloud.githubusercontent.com/assets/12019978/7667445/5eb65806-fbcd-11e4-8b87-654db60d3a99.jpg)

[2015-05-16 22:26] M3Rocket commented on #195
Public Event packages were never shown on TGD as far as I remember. When you go to the Postmaster in-game, there are two sections. TGD only shows what is on the bottom section--which can contain up to 20 items.

Not sure if this was a limitation with the Bungie API.

[2015-05-16 22:29] M3Rocket commented on #194
Any engram containing HoW items will not show on TGD, and will not be decrypted by Rahool until 10am PDT on Tuesday 5/19. My guess is that these have new "SKU's" in the API that Richard has not added yet to TGD.

[2015-05-16 22:33] M3Rocket commented on #196
@bluetidepro Maybe consider "-" and "+" buttons to the left and right of the "Refresh Timer Input." On mobile, those tiny up/down arrows are impossible to hit correctly.

[2015-05-17 14:23] NoCodeLeftBehind commented on #196
Same problem and note that, as pictured, this obscures the Vault and character headings. Also, is the refresh timer box even necessary? I doubt most even use it, and it unnecessarily clutters up the UI. Perhaps move it to an advanced settings page or something (which I think you will need eventually for other customization settings).

[2015-05-17 16:40] magictony31 opened #197 "Add informations about raids and missions"
Hello,
thanks for this application ! It's great !

But i think it could be perfect with more informations, and specially the informations about raids and weekly missions. We could see at a glance wich character we should take to make Crota's end in level 33...

Thank you

[2015-05-17 16:54] schubydoo opened #198 "Using the 'Progress' tab and selecting 'Full XP' lists some maxed out weapons."
This seems to be a newer issue as it didn't occur last week.  However when selecting 'Full XP' to view items that still require upgrades will occasionally list maxed out (gold border) items as well.

[2015-05-17 17:37] schubydoo commented on #194
Note: DIM has this functionality.

[2015-05-17 18:16] rkingsla commented on #196
Just adding that this also repo's on iPad mini.  Likely not a surprise, but for full clarity and awareness.

[2015-05-17 18:37] rkingsla commented on #193
Hey, brownbearDaniel....  thanks for the report.

Which version? When this occurs, can we get a screen shot of the vault and for the Primary bucket that it says it won't be moved to? Looking at the code, it APPEARS that the bucket on the Wolf emblem character is full (10 items).

Can you confirm and provide some added details, including screenshots?  MUCH appreciated!

[2015-05-17 18:46] wickles opened #199 "Show glimmer and marks"
This is mostly just a "quality of life" type request. Websites like destinystatus.com show your glimmer and vanguard/crucible marks for all characters. I think would be nice to show these somewhere in TGD.

[2015-05-17 19:05] rkingsla opened #200 "Moving loadout or item when there are 35 waepons in the vault"
New issue, possibly related to Issue #91. (Tested only on weapons, no armor or mats involved)

Scenario: Loadout move from one character to another OR move one item from one character to another. 35 of 36 items in vault. Initiate a loadout move and the following error is presented:

Information
There are no item slots available to transfer this item.

If there are 34/36 items in vault, the loadout

[2015-05-17 19:32] rkingsla commented on #200
Closing issue.  I know what the problem is now.  This is being sent back by bungie.js as an error due to 36 items in weapons.  And, there are 36 - the problem is one is invisible due to it being an engram from on of the Wolf Treasure chests - not yet recognized.

The issue is on the records for the HoW items. So, no need for another issue report.  Resolving Issue #194 will resolve this one too.

[2015-05-17 19:32] #200 closed

[2015-05-17 19:53] westonsouza opened #201 "App stuck on the inventory loading screen on iPad"
Since I launched the app this morning on my iPad I have been unable to get past the inventory loading screen. I chose not to install the update on my iPhone due to the issue, so don't know if this affects other devices.

[2015-05-17 21:35] rkingsla commented on #197
I’m going to leave the bigger design decisions to Richard – he’s done a great job so far.  I like your idea, but I’d say that we need an awesome tool to manage content across characters.  That’s this tool. And, this tool needs to stay laser-focused on this.

IMHO, adding features that don’t enhance this goal are meant for other apps.  Perhaps Richard would want to start a similar project that woul

[2015-05-17 22:39] jbkly commented on #201
I'm having the same issue on Android, starting this morning. On loading the app it stays on "Please wait, your inventory is loading..." indefinitely. Restarting the app and restarting the device don't fix it.

[2015-05-17 22:59] Mulchman commented on #201
I had this as well. Ended up deleting app cache to essentially make it
rehydrate to latest. Worked after that.
On May 17, 2015 3:39 PM, "Jordan Buckley" <notifications@github.com> wrote:

[2015-05-18 04:57] kohum commented on #154
Yes... This has been fixed !

[2015-05-18 04:57] #154 closed

[2015-05-18 05:04] kohum opened #202 "Suggestion: Prefer the old layout/design to the new one"
Ok. This isn't really an enhancement. But I really like the old design/layout compared to the new one which felt like it was taking up too much space and  hence required more scrolling. I found that it was faster to find stuff with the old design.  I know that we have reverted back to the old design for  now and would really like it to stay that way. :) Thanks !!!

[2015-05-18 07:44] xdtrammell commented on #202
I like the new gui so much more then the old one. If you are going to take it away as the default please let us use it as an option. I play with my pc right next to me and I have plenty of screen real estate and I loved the new GUI.

[2015-05-18 08:23] Volcannon commented on #190
Perhaps if there was an option to remember which account you used last so that next time when it loaded up, it would go directly to it.

[2015-05-18 10:04] kohum commented on #202
So do I.  I have my pc next to me.  I just find that without the extra thick borders etc, the old layout still worked better and also collapsed better when you are filtering things out.  The new layout for some reason did not collapse properly and I still had to scroll up and down looking for stuff.

[2015-05-18 11:08] dasilva333 commented on #202
Thank for your opinions everyone, closing this out since there's nothing to do here however I do agree there were drawbacks to the new design on how the space was managed. Expect the new style back sometime in the future when it's ready for all platforms.

[2015-05-18 11:08] #202 closed

[2015-05-18 11:10] dasilva333 commented on #190
Thanks man I'm glad someone finally made a ticket so I can care of it.

[2015-05-18 11:14] dasilva333 commented on #195
I'm not sure if it's an API limitation or if I missed adding it to the Post Master section. I'll check it out and close this ticket if it can' be done.

[2015-05-18 11:15] dasilva333 commented on #194
@M3Rocket @weborican can you guys confirm if it's fixed in 2.5.8?

[2015-05-18 11:17] dasilva333 commented on #199
Perhaps in the future with a different UI it could be done, not with the current navbar

[2015-05-18 11:18] dasilva333 commented on #197
Agreed,don't want a bloated app and it doesn't make sense to put this in an inventory app.

[2015-05-18 11:18] #197 closed

[2015-05-18 11:23] rkingsla commented on #194
It is....  All of my recently obtained HoW engrams now show up as expected and the count for weapons, etc. is now accurate where it was off by whatever number of HoW item engrams were in storage.

I think you can close it as far as 2.5.8 is concerned.

[2015-05-18 11:27] rkingsla commented on #184
Great idea, really.  I've run into this a few times.  Might I suggest flashing bight green neon?  ;o)

[2015-05-18 11:41] weborican commented on #194
It is all looking good at my end. Damn (I'm looking at you Pack of Wolves), I've got me an insane number engrams!!!

I agree with @rkingsla , I think you can close the ticket now.

[2015-05-18 11:43] Volcannon commented on #190
No problem.

[2015-05-18 11:44] ssoriche opened #203 "Serve and cache item definitions"
Instead of requiring a new build when Bungie updates the definitions, serve the JSON from TowerGhostForDestiniy.com and cache them in local storage.

Do a simple check on start up to see if there's a new definition file and download if required.

[2015-05-18 11:45] ssoriche opened #204 "Remove images from application use local storage cache"
At one point in time I was working on implementing this, and it was extremely easy to do.

When an image is first used a local copy is kept and that image is used from then on. This would allow for images from the source and not requiring new builds each time Bungie makes a change.

[2015-05-18 11:46] #194 closed

[2015-05-18 13:28] ssoriche opened #205 "Add testing definitions"
Create a file to be used by developers that sets the values used in conditions which will allow for rendering static HTML, for mobile device testing.

For example:

[code]

These are of course fictitious and would need to be proper values. Additionally some conditions may need to be rewritten to shortcut if a testing value has been set.

[2015-05-18 14:43] weborican opened #206 "Visual differentiator to identify HoW engrams"
Taken directly from DIM, but it is super nice/helpful to see which engrams are HoW and which aren't (especially now, before HoW drops).

![how engrams](https://cloud.githubusercontent.com/assets/12019978/7683066/1a3ec4da-fd42-11e4-9d18-7aa74b02ae1f.png)

[2015-05-18 15:02] rkingsla commented on #206
Nice idea, I like this....

The downside is - obviously - the time (potentially) to implement, test and deploy might exceed the cost benefit for about 14-15 or so hours before it becomes completely irrelevant (as HoW is going to make all engrams equal play partners, which I'm sure you know...).

Good thing I don't make these decisions, right?  ;o)

[2015-05-18 15:28] weborican commented on #206
Oh, I totally agree/understand... but maybe worth the code to handle this for when this happens again (Comet?) :-)

[2015-05-18 15:38] rkingsla commented on #206
Yes, absolutely!  Good point....

[2015-05-18 16:35] Mulchman commented on #177
Noob question: what's the CSS class to use to make the buttons look like the BootstrapDialog.alert() 'close' button? I've tried various things: btn-default, btn-primary (and others) and they don't match.

[2015-05-18 17:37] M3Rocket commented on #195
@dasilva333 I see Bungie's revamped site is now showing all 40 items for the postmaster. Not sure whether they just made it available via API. I remember that Bungie's site also always only showed the bottom group of 20  and not the top group of 20.

[2015-05-18 17:47] schubydoo commented on #198
![untitled](https://cloud.githubusercontent.com/assets/12485317/7686537/3bf8f9d4-fd4b-11e4-9a8e-4731d8c4def0.png)

[2015-05-18 17:51] Mulchman commented on #177
#207 was accepted, so closing this issue for now.

[2015-05-18 18:00] M3Rocket commented on #188
FYI--this was also present prior to 2.5.7. You can also see it in the old design that was reverted in 2.5.8. Except because it isn't a rounded corner, it's easy for the eye to miss it.

[2015-05-18 18:01] dasilva333 commented on #180
@Solhawk17 can you confirm this is fixed in 2.5.8? thanks

[2015-05-18 18:01] dasilva333 commented on #58
@MostDefiantly @Cintron88 any luck with the latest set of instructions?

[2015-05-18 18:03] Solhawk17 commented on #180
It works!

On Mon, May 18, 2015 at 1:01 PM, Richard Pinedo <notifications@github.com>
wrote:

[2015-05-18 18:04] dasilva333 commented on #180
Cool man thank you for your feedback closing this ticket now

[2015-05-18 18:04] #180 closed

[2015-05-18 19:47] M3Rocket opened #209 "Enhancement: Add ability to lock/unlock weapons and items"
Bungie's new site adds the ability to lock/unlock weapons and items. The new icons also show the status of the lock as well. I think these would be a good additions to TGD.

![tgd_lock](https://cloud.githubusercontent.com/assets/3769123/7688728/d4fb2db8-fd5b-11e4-9e9c-12098536fa42.png)

Maybe a quick double-click on the item icon would toggle lock/unlock and the visual indicator?

[2015-05-18 21:21] Mulchman commented on #122
Here's where I'm at with a redesign based on @M3Rocket 's comments-

Collapsed (http://imgur.com/Zlqo9bD):
![collapsed](http://i.imgur.com/Zlqo9bD.png)

Expanded (http://imgur.com/KJVEvin):
![expanded](http://i.imgur.com/KJVEvin.png)

The big matrix-of-options-thing (been talked about in the slack channel) will be in a more general case thing separate from this. This is only intended for normalizi

[2015-05-18 21:46] MostDefiantly commented on #58
@dasilva333 Really sorry, I have been out of town all week. I will check it out once I get back mid Wednesday or so.

[2015-05-18 22:35] dasilva333 commented on #206
@rkingsla is right putting this one on the back burner leaving it open as an enhancement thanks for the feedback guys

[2015-05-18 22:37] dasilva333 commented on #209
I actually had coded the ability to see the locked state already but then I removed it because their API wasn't ready. I think being able to at least see the state is pretty important for the app. Thanks @M3Rocket

[2015-05-18 22:38] dasilva333 commented on #122
@Mulchman I like it, it's very clean and well thought out good job so far

[2015-05-18 22:38] dasilva333 commented on #58
@MostDefiantly no problem just have to follow up and make sure thanks

[2015-05-18 22:45] M3Rocket commented on #122
@Mulchman Looks good to me--very nice! My preference is for it to auto-expand have it auto-expand for now until there are multiple "Extras Functions" sections.

[2015-05-18 23:42] Mulchman commented on #122
@M3Rocket Sounds good. I also commented the button out until more "Extras Functions" exist (if ever).

[2015-05-19 00:39] M3Rocket commented on #196
Thinking about this more, perhaps it's better to move this to the settings dialog. The number by itself on the menu bar is confusing since there is no label. Frankly, probably only a very few choose to change it from 300 seconds IF they have Auto Refresh set on anyway.

[2015-05-19 07:58] jimeh commented on #190
:+1: I'd like to see this too :)

[2015-05-19 14:54] Cravit8 commented on #146
dasilva333
Per my use with an iPad 3:
With the newer version, not only is the character icon title not frozen, it is missing altogether in landscape mode, which means I cannot even use the app in landscape mode now, which was my favorite method because of less scrolling.

I sincerely hope this can be remedied. I notice on Chrome it is fine, but the landscape oreientation for iPad is borked. I'll a

[2015-05-19 19:24] rkingsla commented on #196
Not diminishing M3Rocket's comment above, the layout issues on iPad mini seem to be resolved. Everything works as expected.  Nice job, team!

[2015-05-19 19:38] dasilva333 commented on #196
Thanks for the feedback guys, as the patch notes state I reverted the new style until issues like this one are resolved on all platforms, it seems it's been taken care of we're just battling some other details with the new style. Regarding that field I do agree it's better fit for somewhere else but it's not going to change until the new flyout menu is added.

[2015-05-20 00:20] joshhunt commented on #203
I've actually created a service for this: [destiny.plumbing](http://destiny.plumbing). (see source code joshhunt/destinyData). It's all stored on AWS S3 so it's highly reliable and cheap to run.

At the moment it's a straight dump of the `mobileWorldContent en` database, to a JSON object with item hashes as the key. Later on I plan on creating specific endpoints for just weapons, armour, weapons b

[2015-05-20 01:59] pattont opened #210 "Lost Loadouts"
Just loaded the app and my loadouts aren't there. This has happened before and a refresh has fixed it. I was in the process of saving a loadout and it wouldn't save, refreshed and none were there. Are you having issues at the moment?

[2015-05-20 07:02] anwnn commented on #210
Seeing this as well on two iOS devices. Inventories load, but loadouts are gone. Refreshing and signing in again don't seem to resolve it.

[2015-05-20 11:46] dasilva333 commented on #210
Can you confirm it's fixed by now? Thanks guys

[2015-05-20 11:50] dasilva333 commented on #203
Actually I was talking to Shawn what I had in mind as the gameplan:

1. Modify my update_definitions scripts where it downloads just "en"
https://github.com/dasilva333/TowerGhostForDestiny/blob/master/build/update_definitions.js#L115
2. Download all languages available and *run it through the post processing*
3. Upload a copy to my towerghostfordestiny.com
4. Modify the app to check app.activeUser

[2015-05-20 12:20] pattont commented on #210
Looks like my loadouts are back.. Thanks!

On Wed, May 20, 2015 at 7:46 AM Richard Pinedo <notifications@github.com>
wrote:

[2015-05-20 12:24] pattont commented on #192
With HoW your legendary weapons are now now longer maxed out because you can put etheric light and raise their DMG. I'm not sure why the exotics do not do that as well with the border, but if you spend the exotic shard and the glimmer, you will get the 365 and the gold border. The rest remain "unmaxed".

[2015-05-20 12:27] pattont opened #211 "DestinyDB Hover"
I don't think this is an issue on your end, but I wanted to report it to make sure. With a number of weapons I can no longer see their stats and all I can see is that they are upgradable with etheric light. With the case of the Speer below I have more than one arc one (pvp vs. pve) and I can no longer tell which is which. (Yes they are unleveled because I had to re-roll them yesterday :-))

![spee

[2015-05-20 12:58] #210 closed

[2015-05-20 13:00] dasilva333 commented on #192
Hey guys with the changes introduced in HoW I do notice a problem with how the progress fitler is behaving, treating maxed items as full xp but showing the gold border on it regardless. I'll rename the title and get it fixed thanks

[2015-05-20 13:02] dasilva333 commented on #211
Thanks for opening this ticket I'll investigate and see if there's something I can do to bring back what perks it actually has, even though it's upgradeable I dont see why the API would suddenly revert to this display. I'll try to get it fixed but I cant make any promises thanks @pattont

[2015-05-20 14:05] anwnn commented on #210
Yup, working for me as well.

[2015-05-21 00:58] westonsouza commented on #201
I still have this problem after updating

[2015-05-21 01:19] unclben commented on #201
I have the same problem (stuck at "your inventory is loading" on my HTC One M7.
Clearing cache didn't make a difference.
Next I tried clearing all app data. After signing back in to XBL, now it gets stuck on "loading user data" instead.
I then tried uninstalling/reinstalling the app completely, and again I get stuck at "loading user data".

[2015-05-21 01:25] joshhunt commented on #203
Sure - The files are massive and full of  _lots_ of 'useless' data. Eventually I'll create smaller files of select data, but I couldn't give you an exact date.

Anyway, they'll always been there if anyone wants them.

[2015-05-21 03:36] equesaspe opened #212 "HoW Items not showing"
I have noticed that HoW items do not display in the app. The items are counted in the totals but are unable to be seen or selected.

[2015-05-21 05:15] schubydoo opened #213 "Incorporate new 'Sets'"
With HoW released I think it would be beneficial to incorporate the new end-game sets like Queens Guard, Trials, and Prison of Elders: http://db.planetdestiny.com/houseofwolves

[2015-05-21 05:31] lllgurulll opened #214 "boxes too small and dead areas issue on latest updates"
Your most recent version updates have made this app unusable for me.  The icons are too small and the numbers overlaying them too large.  I can't tell what I am clicking on because of this.

There is also an issue in that the items I click on won't do anything. Its almost as if the touchscreen programming for the app is broken. Some areas work yet others don't. This only happens in your app and no

[2015-05-21 05:32] lllgurulll commented on #214
http://imgur.com/0CB5WH8
http://imgur.com/1XN1CkN

[2015-05-21 05:33] lllgurulll commented on #214
Top one is 2.1.4. Bottom is the current unusable version.

[2015-05-21 10:28] dasilva333 commented on #214
Please provide your device type, also is landscape good for you? I'll take care of this with issue #172
Thanks

[2015-05-21 11:15] lllgurulll commented on #214
Phone is an LG G2 for att.  Tablet is Samsung galaxy note 10.1 2014
edition.
Landscape makes no difference in sizing on the phone.
On May 21, 2015 5:28 AM, "Richard Pinedo" <notifications@github.com> wrote:

[2015-05-21 11:17] lllgurulll commented on #214
Also the dead screen exists on both in portrait and landscape.
On May 21, 2015 5:28 AM, "Richard Pinedo" <notifications@github.com> wrote:

[2015-05-21 12:36] pattont commented on #211
This one appears resolved. I'm guessing it was on the DestinyDB side because 2.6.2 hover now shows the perks on my efrideets. :-)

[2015-05-21 14:21] dasilva333 commented on #212
Can you provide an example as to what Item is not showing? Also please provide what version number you are using by clicking on the word TGD on the top right, thanks

[2015-05-21 14:27] dasilva333 commented on #213
paging @rvvisse if he wants to help out on this one that would be great, I made a previous post on issue #97 on how anyone can help out get this thing going

I'll repost the new instructions here if anyone wants to take a stab at it:

Download my source code for master branch and open this file:
https://github.com/dasilva333/TowerGhostForDestiny/blob/master/www/js/destinyexotics.js#L140

Add to th

[2015-05-21 15:01] schubydoo commented on #213
Seems simple enough.  I'll see what I can whip up too.  Though please don't let that discourage anyone else from trying!

[2015-05-21 15:03] dasilva333 commented on #211
Oh right I did fix it in 2.6.2 it's actually all custom code that i add on top of DestinyDB, those guys have no way of knowing what particular perks you have so I just add it in there after it loads. Thanks for confirming this for me

[2015-05-21 15:03] #211 closed

[2015-05-21 15:07] dasilva333 commented on #213
Just to be clear here is the laundry list of things that need done for HoW:

http://db.planetdestiny.com/houseofwolves

update exoticArmor, exoticWeapons with the new items from that link
create poeArmor, poeWeapons with the ids from that link
create tooArmor, tooWeapons with the ids from that link
create queensWeapons with the ids from the Queens Guard list

I don't think we should have a set for

[2015-05-21 15:09] pattont commented on #211
Excellent news! Thanks Richard!
On Thu, May 21, 2015 at 11:04 AM Richard Pinedo <notifications@github.com>
wrote:

[2015-05-21 15:33] dasilva333 commented on #192
I confirmed this is an issue with the API not much I can do to fix it, I made some improvements but it's still broken due to bad data I'm getting. Closing ticket until Bungie fixes it on their end

[2015-05-21 15:33] #192 closed

[2015-05-21 15:50] schubydoo commented on #213
https://github.com/dasilva333/TowerGhostForDestiny/pull/215

First time doing this, please check my work!

[2015-05-21 15:59] dasilva333 commented on #213
@schubydoo great job if you could update that one little trailing comma I'll go ahead and merge it in otherwise I can just fix it myself after I merge it, let me know thanks

[2015-05-21 17:23] schubydoo commented on #213
Looks like you merged it, thanks for the quick updates!

[2015-05-21 18:05] matthewdubya opened #216 "Allow Console Preference"
Any possible way to allow users to set a preference for which console account is brought up upon opening. Playstation seems to be the default if both accounts are linked through Bungie.

[2015-05-21 18:23] M3Rocket commented on #214
The top photo is single column, the bottom photo is two column. The problem is simple! Just post your preferences for your phone in issue https://github.com/dasilva333/TowerGhostForDestiny/issues/172. (Click on the number to get to the other issue)

[2015-05-21 18:24] dasilva333 commented on #216
There is already an issue open for this please check before opening new ones thank you

[2015-05-21 18:24] #216 closed

[2015-05-21 21:03] lllgurulll commented on #172
Please keep it at single column for phones,  two column on an LG G2 makes the boxes too small

[2015-05-21 21:05] lllgurulll commented on #214
I replied but I also see everyone wanting multi column.  On a phone that is
th ok much and makes the icons too small as you see in my photos, keep. It
simple, the app doesn't need to do everything.
On May 21, 2015 1:23 PM, "M3Rocket" <notifications@github.com> wrote:

[2015-05-21 21:16] M3Rocket commented on #214
No worries--I think there is a solution to please everyone on that front here in issue https://github.com/dasilva333/TowerGhostForDestiny/issues/174

[2015-05-21 21:22] equesaspe commented on #212
WP 2.4.0 and nothing from the HoW expansion is showing. Prime example the new side arm vestian dynasty

[2015-05-21 21:22] dasilva333 commented on #172
I'm going to be working on this issue today so expect the fix on 2.6.3 thanks guys

[2015-05-21 21:23] equesaspe commented on #212
Treasure keys also.

[2015-05-21 21:26] lllgurulll commented on #214
Nothing in that thread really addresses the dead screen issue I pointed out
in y submission.

The app needs to default to single column regardless.  Making things
smaller is not a good option on phones.  Large icons are neccessary.
On May 21, 2015 4:16 PM, "M3Rocket" <notifications@github.com> wrote:

[2015-05-21 21:29] dasilva333 commented on #212
yeah WP is stuck on 2.4.0 until further notice expect 2.6.x by Monday the latest thanks for your feedback

[2015-05-21 21:29] #212 closed

[2015-05-21 21:30] dasilva333 commented on #214
@lllgurulll I dont really understand or can reproduce this issue, perhaps you could explain it in a way that I would be able to notice or get the problem to activate? Thanks

[2015-05-21 22:16] Mulchman opened #217 "Sorting of things"
I'd like to open a discussion on sorting weapons/armor/gear.

I mess around with my consumables and materials A LOT and it's always hard comparing a character to another character to see if I need to move things around when the items aren't in the same visual position between players.

Unsorted (http://imgur.com/K1PyxRp):
![unsorted](http://i.imgur.com/K1PyxRp.png)

Sorted (http://imgur.com/VPhe6Y

[2015-05-21 22:25] dasilva333 commented on #217
Yes submit the pull request I think this is a good change:

Sorting - yes
Both Asc/Desc - No just pick one
Yes, sort by rarity then name so it looks even better
No option no icon just a static sort

[2015-05-21 22:48] lllgurulll commented on #214
I upgraded to your 2.6.2 and the dead screen issue seems to have been
fixed.

Basically I would try to select an item and it just wouldn't let me select
it.  Some items would respond while others would not.  It was inconsistent
with previous versions.
On May 21, 2015 4:30 PM, "Richard Pinedo" <notifications@github.com> wrote:

[2015-05-21 23:18] M3Rocket commented on #217
I like @dasilva333 KISS on this. Great idea @Mulchman!

Just an observation: In the Materials section, I think there should be group sorted as well. IOW, Planetary Materials should go together; Energies and Shards; Weapon Parts/Class materials; Coins/Motes of Light/Tokens; et al.

[2015-05-21 23:25] Mulchman commented on #217
Playing with something extremely simple (weird formatting just to try and make it readable)-

[code]

Gives results like this (imgur gallery for full size: http://imgur.com/5BnUOM2,6lN8oav,ncIhSQ1).

![example](http://i.imgur.com/5BnUOM2m.jpg)
![example](http://i.imgur.com/6lN8oavm.jpg)
![example](http://i.imgur.com/ncIhSQ1m.jpg)

I'm not a fan of "Treasure Key" showing up before "Axiomatic Beads"

[2015-05-21 23:28] dasilva333 commented on #217
Nah I think it's fine, it's already complex enough as it is, the problem with adding this sort of code into the mix is that it adds a big performance hit in a big way so let's commit something simple and straight forward, test it and benchmark it before we expand further upon the refinements. Feel free to submit the PR whenever you're ready that last one looks great

[2015-05-21 23:34] Mulchman commented on #201
What can we do to help figure out this problem? It's happening more frequently on my Android tablet and Android phone, and a buddy had it happening on HoW launch day. My steps to "fix" have been to force stop the application, clear data, then start the app and do the hydration + sign in.

[2015-05-21 23:51] M3Rocket commented on #217
@Mulchman Sorting on that third screenshot looks good enough to me.

[2015-05-22 07:53] kohum opened #219 "300 Fatebringer shows up as missing XP"
This is a strange one.  When the "Progress > Missing XP" filter is selected, fatebringer shows up even though it's 300 and not missing any XP.  Vision of Confluence, Atheon's Epilogue or any other old maxed out 331 weapon don't show up.  I even have a vanilla devil you know and shadow price which is maxed at 300 that don't show up.  Fatebringer is the only one.

PS: Is this a subtle hint from the

[2015-05-22 09:02] kohum commented on #219
Seems to affect my Efrideet's spear as well. It's at 331 max.  Initially I thought this might affect other iron banner weapons but my 331 max gheleon's demise and jolder's hammer correctly don't show up as missing xp.

[2015-05-22 14:05] dasilva333 commented on #219
API is broken it's returning bad data I can't fix the progress stuff until Bungie fixes their end closing this ticket as it's not something I can fix

[2015-05-22 14:05] #219 closed

[2015-05-22 16:05] codeman6100 commented on #92
Still no luck with the latest build (2.6.3) on Firefox 38.0.1

[2015-05-22 17:46] M3Rocket commented on #177
@Mulchman Any way of showing the item name or icon in the transfer dialog easily? The dialog appears at the top center of the window and positioning-wise, makes it quite ambiguous as to what I'm transferring especially when distracted.

[2015-05-22 17:46] M3Rocket opened #220 "Moving multiple stacked items results in wrong number displayed"
I think it's more a display problem than the actual calculation, but when you move items from multiple stacks to another, it results in the number shown incorrectly when the stack is reduced below the max stack size. Refreshing restores the correct number.

Example, moving 63 Spinmetal from two stacks of 233 on left to single 26 right:
![image](https://cloud.githubusercontent.com/assets/3769123/77

[2015-05-22 18:11] Mulchman commented on #177
@M3Rocket certainly. "Transfer Materials - Heavy Ammo Synthesis" - something like that?

[2015-05-22 18:12] M3Rocket commented on #177
@Mulchman Yes please! That would be nice.

[2015-05-22 20:15] #217 closed

[2015-05-22 20:36] kohum commented on #219
yeah... thought it may be api related. Wasn't sure. Thanks.

[2015-05-22 20:39] kohum opened #222 "Ability to view latest changes popup when we click on the version number"
This is a minor but sometimes I miss the changes listed in the latest version since I'm in a hurry to transfer some item over.  It would be great if we could view the latest changes floating box when we click on the version number on the left.

[2015-05-22 21:26] dasilva333 commented on #222
good idea thanks

[2015-05-23 00:45] Adimal opened #223 "Hydration deployment issue on Windows phone"
After several unanswered emails, I thought this might be the next best approach. Windows Phone version is still 2.4.0, which does not show the new HoW items.

I'm not sure if this is an issue with Hydration deployment on Windows phones, or simply a case of the latest Windows version lagging behind the now current v2.6.3

[2015-05-23 02:31] dasilva333 commented on #223
Simply a case of the latest version lagging behind , this has also been answered in several reddit threads. I submit the package to Microsoft today so perhaps by tomorrow you guys should have 2.6.3

Thanks for your feedback

[2015-05-23 02:31] #223 closed

[2015-05-23 19:21] MostDefiantly commented on #58
Alrighty, sorry for the delay @dasilva333. So good-ish news is that when I ran your ref.executeScript line I did get a return with a series of GUID's.

I tried putting it in the jsconsole window as directed, but I was unable to get the vault to manually load using the app.bungie_cookie definition and followup lines - but I am very much down to that being user error. :)

It appears to have taken th

[2015-05-23 21:16] dasilva333 commented on #58
if you like and have time set up the jsconsole again and send me a message here ill try to respond asap and try those same steps myself to see the results. thanks and let me know

[2015-05-24 14:44] MandarbTX opened #224 "Loadout changes, deletions, additions not saving"
Unable to add, save, delete or change loadouts. Each time I attempt any of these activities, the loadouts revert to what was saved a couple of days ago. This happens after refreshing in app or after restating. App does report that it saved successfully.

[2015-05-24 14:45] MandarbTX commented on #224
This is in the Android app

[2015-05-24 15:28] ssoriche commented on #224
Seeing the same problem with Chrome.

[2015-05-24 16:10] Tastix commented on #224
I'm having this same issue on iOS, in Chrome on OS X, and in Firefox. Can't seem to edit or remove or make any changes to my load outs at all.

Only recently will it not let me update or adjust any of the load outs. I have even tried deleting all of them, but when I refresh they all just come back (by refresh I mean control + r, not the in app refresh).

Since this issue popped up I have been unab

[2015-05-24 17:32] M3Rocket commented on #224
This is happening with both Android and Chrome for me as well.

[2015-05-26 02:50] dasilva333 commented on #224
anyone confirm its sill a problem?

[2015-05-26 03:06] M3Rocket commented on #224
Just checked. Seems to be fixed.

[2015-05-26 03:07] ssoriche commented on #224
Changes I made on Chrome earlier are showing in iOS.

[2015-05-26 03:41] #224 closed

[2015-05-26 14:50] MandarbTX commented on #224
Seems to be fixed for me, thanks!

From: Richard Pinedo [mailto:notifications@github.com]
Sent: Monday, May 25, 2015 9:51 PM
To: dasilva333/TowerGhostForDestiny
Cc: MandarbTX
Subject: Re: [TowerGhostForDestiny] Loadout changes, deletions, additions not saving (#224)

anyone confirm its sill a problem?

—
Reply to this email directly or view it on GitHub <https://github.com/dasilva333/TowerGhostFor

[2015-05-26 20:00] dasilva333 commented on #196
Problem has been fixed as of 2.6.3 please confirm thanks

[2015-05-26 20:00] #196 closed

[2015-05-26 20:01] dasilva333 commented on #186
Problem was fixed as of 2.6.3 please confirm

[2015-05-26 20:01] #186 closed

[2015-05-26 20:59] matt-cahill commented on #186
Confirmed. Thanks!

[2015-05-26 22:32] dasilva333 commented on #213
Alright this is completed I'm closing this out thanks again man

[2015-05-26 22:32] #213 closed

[2015-05-26 23:24] weborican commented on #196
Confirmed working perfectly on iPad, iPhone 6 and Nexus tablet. Thanks!

[2015-05-27 12:17] dasilva333 commented on #174
@M3Rocket  can you confirm you see the new view options?

[2015-05-27 13:52] rkingsla opened #225 "Some weapons (exotics only?) that are fully upgraded still show in "Missing XP" list"
In general, Missing XP appears to be working.

However, Gjallarhorn and The Last Word (in my arsenal) still show as 'missing XP', where they are fully upgraded and ascended.

Let me know if you need more details!

![5-27-2015 8-50-20 am](https://cloud.githubusercontent.com/assets/2037051/7837595/ad90edf0-044d-11e5-8b53-2a48cd094825.png)

[2015-05-27 17:28] M3Rocket commented on #225
I can confirm this "weirdness." I have 3 Gally's with 2.6.3. Two are maxed and fully upgraded to 365, one is full XP but not maxed. Strangely, when I select Missing XP, one of the maxed 365 shows! When I select Maxed, the other 365 maxed appears correctly. Full XP seems to be working correctly with my third.

But I can see all kinds of weirdness with other weapons as well with regard to XP.

[2015-05-27 17:32] ssoriche commented on #225
The last time this was discussed (issue #219), the values are fed from the Bungie API and the API was reporting incorrectly.

[2015-05-27 17:33] M3Rocket commented on #174
@dasilva333 I can see the option under the "View" menu, but when I try to select it, it simply collapses the menu and I don't see the dialog box for the view settings. This is with 2.6.5 on both my Nexus 7 (2013) and Nexus 4.

I'd also suggest that since this isn't technically a "filter" to move that menu option to Settings instead.

[2015-05-27 17:34] M3Rocket commented on #225
@ssoriche Ah yes! I remember it now.

[2015-05-27 17:34] dasilva333 commented on #225
That's correct @ssoriche the API is still bugged so there's nothing I can do to fix it until Bungie fixes it on their side, closing this ticket as it's not something I can address

[2015-05-27 17:34] #225 closed

[2015-05-27 17:36] dasilva333 commented on #174
It's not a dialog box popup so it doesn't pop up it shows at the top of the page, the menu bar isn't automatically closing when you pick the option that's going to be fixed, I didn't want to continue to clutter settings with more options so I'm leaving it under View

[2015-05-27 17:53] M3Rocket commented on #174
I see. It's confusing the heck out of me to select that option and not see it pop-up on the screen since the menu is now blocking it.

What does the XS, SM, MD, and LG correspond to? Meaning how is the cutoff point determined? Number of pixels? I think it can get confusing.

Also, when Vault Position is set to Last/Right, and columns are set to 3, the Vault shows up right-justified on the next row

[2015-05-27 21:05] rkingsla commented on #225
Darn it!  Completely forgot about the Bungie API issue...  Apologies....  Well, better reported and closed than not reported at all.  :o)

[2015-05-27 21:11] SmixNZL opened #226 "Viewing loadout requires landscape"
Just installed the app and seems like I may have found a bug.

If you tap the Menu icon and select Loadouts, nothing displays.  If you then change to landscape, the available Loadouts then populate.  Toggling back to portrait will then show the available Loadouts.  If you re-open the app, the above must be repeated.

TGD 2.6.5
Galaxy S5
Kernel: 3.4.0-4469118
Build: LRX21T.G900FXXU1BOC8

[2015-05-27 22:26] dasilva333 commented on #226
@SmixNZL  I can't reproduce it, make sure you wait until the profiles are completely loaded before looking at the loadouts as they do come from a server.

[2015-05-27 22:28] dasilva333 commented on #214
@lllgurulll try 2.6.5 it has the ability to manually set the number of columns I'm closing this out. I cannot reproduce the item click issue

[2015-05-27 22:28] #214 closed

[2015-05-27 22:33] dasilva333 commented on #201
I totally missed this one @westonsouza have you managed to get it to work?

[2015-05-27 22:56] SmixNZL commented on #226
@dasilva333 thanks for the quick response.  I've made a quick video with me reproducing the issue.  For some reason the weapon/gear icons don't show initially in the video, but I can confirm that they were there before pressing the menu button https://www.youtube.com/watch?v=RCfX-LdBzTs

[2015-05-27 23:49] M3Rocket commented on #226
Uhhh--after you "click" Loadouts on the menu, just scroll down. You will see them listed. ;-)

[2015-05-27 23:53] SmixNZL commented on #226
@M3Rocket /backs away slowly in shame.

Apologies for wasting your time, and again, thanks for the quick responses.

[2015-05-27 23:53] #226 closed

[2015-05-27 23:53] westonsouza commented on #201
It is working now. It must have been related to something else you fixed.

[2015-05-28 00:25] unclben commented on #201
@dasilva333 Mine is working again, too, as of maybe 3 days ago. No idea what changed. I'm pretty sure it happened after I did a reinstall but did NOT update upon opening the app, but I can't swear to that.

[2015-05-28 00:48] dasilva333 commented on #226
No problems I think this confusion has happened to more people than just you, Ill rearrange it so it's harder to get it wrong. Thanks for your feedback

[2015-05-28 03:55] PillowMetal opened #227 "incorrect language"
All my menus are showing "todo" for "all" even though my language on the Bungie website is English.

[2015-05-28 05:14] M3Rocket opened #228 "Firefox TGD 2.6.6 Menu overflows to Second Line"
![tgd-bug](https://cloud.githubusercontent.com/assets/3769123/7853067/8e68ed86-04bd-11e5-9327-707545153cf6.png)

Obscures the headers. This is in Windows 7, FF 38.0.1, TGD 2.6.6

When I expand the window, it reverts to one line.

[2015-05-28 16:24] dasilva333 commented on #227
Thanks man

[2015-05-28 16:25] dasilva333 commented on #228
Thanks man I'll make sure this is fixed

[2015-05-28 18:52] M3Rocket opened #229 "Auto Pad Height broken when Vault is on the rightmost position in 2.6.6"
When the Vault is in the default leftmost position, Auto Pad Height seems to work correctly with any rows that are 3 or less (known bug with stacks of 4 or more). When the vault is set to the rightmost position, Auto Pad Height doesn't work at all.

![tgd-bug](https://cloud.githubusercontent.com/assets/3769123/7868264/9d0171c0-052f-11e5-83e4-d62022e59e3c.png)

Strange thing is that you can set the

[2015-05-28 19:50] Mulchman opened #230 "2.6.6 - header ordering issue"
Sometimes the vault/character 1/2/3 headers get out of whack. This is in 2.6.6 and I've seen it in Chrome and on an Android tablet.

![example](http://i.imgur.com/XnPVWgJ.png)

[2015-05-28 20:59] dasilva333 commented on #230
can u reproduce this consistently? do u know how to make it happen every time? thanks let me know

[2015-05-28 21:24] Mulchman commented on #230
I just got refresh in the top right corner. I've had the vault bounce
around to many locations, including the far right.
On May 28, 2015 1:59 PM, "Richard Pinedo" <notifications@github.com> wrote:

[2015-05-28 21:24] Mulchman commented on #230
"Got" was supposed to be "hit"- "I just hit the refresh... "
On May 28, 2015 2:23 PM, "Mulchman" <mulchman@gmail.com> wrote:

[2015-05-29 01:12] dasilva333 commented on #230
i fixed it, didnt set a detfault for vaultPos, should be fixed by 2.6.7 thanks

[2015-05-29 01:59] M3Rocket opened #231 "Armor in Vault not updating/showing incorrectly"
Not sure when it started, but the total number of ARMOR in the Vault section is not updating correctly. Adding and moving stuff around, and the initial number doesn't change.

![image](https://cloud.githubusercontent.com/assets/3769123/7874946/900f587e-056b-11e5-9cbc-1fd2f93688f2.png)

[2015-05-29 02:01] M3Rocket commented on #231
Nevermind. I restarted and refreshed. Showing correct number now.

[2015-05-29 02:01] #231 closed

[2015-05-29 02:19] M3Rocket opened #232 "Transferring Armor/Materials between characters causes incorrect item stacking"
In this example, I'm going to move 7 green special ammo from left to middle.
![image](https://cloud.githubusercontent.com/assets/3769123/7875122/c09c3528-056d-11e5-91b5-b38ebd5f281a.png)

After successfully moving the 7 green special ammo synth to the character in the middle, you can see that the right stack now shows 27, which of course is impossible.
![image](https://cloud.githubusercontent.com/

[2015-05-29 04:53] adamusprime opened #233 "Error loading inventory {"error":true}"
I am on an iPhone 4S.  Earlier this evening the app updated and then got stuck on an orange loading bar that said "please wait signing into Bungie".  This happened forever and it never was able to successfully sign into Bungie.  I close the app and reopened it and had the same issue. I deleted the app and re-downloaded it and am now receiving the error message above when I try to open the app and

[2015-05-29 05:14] adamusprime commented on #233
I deleted and re-downloaded this app again and told her to ignore the update when prompted. It was able to load my inventory as usual. I then close the app and reopened the app and allowed it to download the update and then again received the above error.

[2015-05-29 05:53] adamusprime commented on #233
I'm running the not updated one I downloaded from the App Store and it doesn't recognize all of my weapons (showing nothing in my titan's special slot, not showing Queen weapons in my Warlock's primary slot, etc.)

[2015-05-29 07:58] matthubb commented on #233
I'm having the same issue with iOS: stuck on an orange bar signing in.

However, selecting "Log in PSN" from the settings menu will do its thing and then load my inventory

[2015-05-29 08:02] Los556 commented on #233
Having the same issue on Ipad, opened it, ran most recent update, then get: Error loading inventory {"error":true}. Deleted it and reinstalled, ignored update, but new items are not showing. Ran update again and got the same error.

[2015-05-29 12:07] dasilva333 commented on #233
Seems I broke it on the last update 2.6.7 for ios only, @adamusprime @Los556 @matthubb can you guys tell me what type of account you have?
-is it dual linked to xbox and ps? yes/no
-is it linked only to one account? if so which one
-if its linked to two accounts, is one of them invalid?

Let me know Ill try to solve this today but I'm going to be pretty busy today so I'm not sure if I'll get to tt

[2015-05-29 13:30] dasilva333 commented on #233
Problem fixed, please update to 2.6.8 and confirm if it's still an issue for you thanks

[2015-05-29 13:44] matthubb commented on #233
Spends a while on orange bar but does now load without intervention.

Fixed for me. (PSN only)

[2015-05-29 14:13] jaryanp commented on #92
I am also unable to connect on Firefox 38.0.1
After logging out of bungie.net and clicking the PSN icon, it opens the window to sign into my PSN account, then closes and opens my bungie.net profile. I then clicked the Refresh (secs) button for TGD and it gives me the green bar saying "Please wait, loading arsenal from Bungie."

[2015-05-29 14:39] dasilva333 commented on #92
Try the instructions I provided earlier instead of using the refresh button:

click sign in
new tab opens you sign in, page redirects to bungie
close the new tab
4a. go back to the new tab and hit refresh (doesnt work)
4b. open the app again and close the old tab (works every time)

[2015-05-29 14:39] #233 closed

[2015-05-29 14:59] jaryanp commented on #92
That worked! Must have missed that suggestion...I tried the 'navigate
around the bungie site' trick.

Thanks!

Ryan

On Fri, May 29, 2015, 10:39 AM Richard Pinedo <notifications@github.com>
wrote:

--

Ryan Porter

[2015-05-29 16:44] drinkc0ke commented on #233
Confirmed also working for XBL on iPhone 6 running iOS 8.3, as of the 2.6.8 update.

[2015-05-29 19:24] adamusprime commented on #233
Fixed!  iPhone4S for XBL.  Thank you!

[2015-05-31 19:30] schubydoo opened #234 "Missing weapons from PoE Weapon Sets"
This is more of a reminder for myself (or anyone who has time).  There seems to be some more weapons recently found exclusively dropped from Skolas.

See: "Weapons (II from Skolas)" from http://db.planetdestiny.com/houseofwolves

[2015-06-01 12:56] pattont commented on #199
Could it be on a popout which shows just some random information about your character. I'm not sure if number of hours are accessible along with glimmer, marks, currrent bounties selected? Just spit balling :-)

[2015-06-01 13:20] rkingsla opened #235 "Loadout Items .."will be moved." shows [weapon/armor name]undefined"
I've just noticed this, and may have been in a previous build. Current build in use: 2.6.9

(I've also searched and if this is already reported, I didn't find it.  apologies if this is reported and known)

Items that are swapped are correct.
Items that will be equipped are correct.
Items moved and equipped are correct.

It APPEARS that only items moved and just moved have the text "will be moved"

[2015-06-01 18:13] dasilva333 commented on #235
thanks man i'll get this fixed asap

[2015-06-01 23:49] M3Rocket opened #236 "Loadout weapons being moved around when unnecessary or incorrectly"
Currently, I have a loadout with 6 weapons circled in red:
![image](https://cloud.githubusercontent.com/assets/3769123/7925794/0301593a-087e-11e5-8c2a-d474903556c4.png)

I want to apply the Loadout to the Titan 33 but the loadout comes back with these errors:
![image](https://cloud.githubusercontent.com/assets/3769123/7925806/237478a0-087e-11e5-9b43-03c1dc3019ab.png)

[2015-06-01 23:50] M3Rocket commented on #236
I feel like the logic for moving weapons/loadouts could use some fleshing out and improvement.

Example:
Trying to loadout a Guardian with full primary/secondary/heavy slots results in "...will not be moved because there's no space in primary/secondary/heavy." This despite there being at least two spaces in the Vault or another character.

The logical operation should be based on the fact that you

[2015-06-02 09:29] Titus-s commented on #236
After HoW we all have all bucket and Vault almost filled up, and issues with no slots available will appear more frequently.
I think that at start/refresh the application should check if there is a space in Vault on each category (Weapon / Armor / General). If there is no slots available it should inform (somehow) user that there is no way to transfer items.
I thought about the way to inform user

[2015-06-02 18:18] M3Rocket commented on #236
Technically, to move weapons and armor around, you need at the minimum one empty vault slot and one guardian weapon class specific slot. This does not apply to general materials and such because most of those items stack. But I agree--some sort of check and diagram or decision tree of what is possible is the only way to flesh out some of these "transfer" rules.

I think DIM handles some things bet

[2015-06-03 05:53] True-Ninja opened #237 "Missing XP category displays incorrect items"
![towerghost](https://cloud.githubusercontent.com/assets/12725831/7953360/c5716b90-0991-11e5-8031-a26aedc6c1e5.png)

This was one of my favorite and most used features up until it seemed to stop working a few versions ago. There are items that come up when I select Missing XP that do not need any experience, and in fact sometimes are completely maxed out, and even ascended.

[2015-06-03 11:35] rkingsla commented on #237
Yep - it's ben reported and closed a few times. The net is: Richard can't do anything about the fact that some weapons that are fully ascended still show up as missing XP. The data for items missing XP is consumed directly from Bungie - not a decision that is made locally to the App. Until Bungie updates their item max XP flags on their end, the Gally, TLW, and others will continue to be erroneous

[2015-06-03 17:14] d1464c opened #238 "Please be patient, logging into Bungie."
For some reason this last week I can't get past the please be patient, logging into Bungie. It's an orange loading bar that doesn't continue. This was on my iPhone 6+ and iPad.

[2015-06-03 17:16] ssoriche commented on #238
I've had a similar issue, and when I clicked on the cog and select PSN Login, the Bungie login pane opened showing that there were errors logging into Bungie. It automatically refreshed, signed in and I was able to continue.

[2015-06-03 17:22] d1464c commented on #238
I don't see that option. Are you talking about the settings cog? I just see Clear Filers, About, ? Help and Donate.

[2015-06-03 17:27] ssoriche commented on #238
On my iPad, under Donate is DestinyExotics Share URL, a number of toggles, and then PSN Login and Live Login. On my iPhone 6 I have to click on the Menu hamburger, then scroll to settings, click settings and scroll down to PSN Login.

[2015-06-03 17:30] d1464c commented on #238
I*'m on the iPhone 6+ and under settings there's no XBL Login like I mentioned above.

[2015-06-03 17:36] ssoriche commented on #238
Does your menu not look like this? Are you running the version of Tower Ghost from the App Store?
![image](https://cloud.githubusercontent.com/assets/19838/7967015/7ffa847a-09f5-11e5-899d-e87409726ff0.jpg)

[2015-06-03 17:41] d1464c commented on #238
No, my menu isn't as detailed. Yes, it's from the app store. Version 2.6.9

[2015-06-03 17:46] d1464c commented on #238
![image](https://cloud.githubusercontent.com/assets/12735033/7967246/d60385fa-09f6-11e5-9879-afe08379d5bb.jpg)

[2015-06-03 17:49] ssoriche commented on #238
Yes, mine looks just like that too, until I scroll the menu down by sliding my finger up on the menu items.

[2015-06-03 17:52] dasilva333 commented on #237
Well said sir I'm glad you understand @rkingsla I feel bad when I close tickets like this but that's pretty much the gist of it. Hopefully they'll fix up their API so this can stop being a problem. Thanks for the summary

[2015-06-03 17:52] #237 closed

[2015-06-03 19:10] True-Ninja commented on #237
I see. Sorry I didn't realize it had already been reported. Thanks anyway.

[2015-06-03 19:45] d1464c commented on #238
That did it! Thanks. It took 4 pulls and it finally popped up. Is that like finding the hidden chest in VoG?

[2015-06-03 19:52] #238 closed

[2015-06-04 12:38] mpastreich opened #239 "List Light level on Armor"
Ability to either display Current Light level (in leu of Defense level), or to display split "Current/Max" light level.

Would suggest this be a toggle and have it replace currently displayed armor value.

[2015-06-05 16:54] r3mus opened #240 "Loadouts seem to be trying to unnecessarily swap weapons?"
I've been noticing that weapons are being swapped quite a bit when using loadouts, though all characters have quite a few slots available in each weapon class and I'd think it should only move instead of swap? Does it always try and swap, or only when it determined you'd exceed the available slots? The result of this is because I'm low on vault space, this happens a lot:
![image](https://cloud.git

[2015-06-05 17:05] dasilva333 commented on #240
the app should know ahead of time there are no slots and ideally all measure should be taken to avoid showing that error message during the transfer. I'll look into it further and try to improve the algorithm to prevent that from happening. thanks

[2015-06-05 17:09] r3mus commented on #240
Cool thanks! It seems it happens more frequently when using a large loadout (10 or so). Dropping it down to 4 or 5 it works correctly. But I did the math on the available slots and it shouldn't have had a problem.

[2015-06-07 08:18] PillowMetal commented on #227
Is working fine in 2.6.9

[2015-06-07 08:18] #227 closed

[2015-06-08 10:42] joshhunt opened #241 "destiny.plumbing is available for JSON item feeds"
I've created [destiny.plumbing](http://destiny.plumbing/) which hosts up-to-date JSON feeds for all item information from Destiny, in all locales available.

There are two sets of 'feeds' available:

 * **raw:** These are straight dumps of all tables from the `mobileWorldContent`, gzipped and served. While a standard JSON dump of `DestinyInventoryItemDefinition` is around 5MB, gzipped it is only 5

[2015-06-08 13:37] rkingsla commented on #237
No need to apologize!  Frankly, like most here, I think that issues should be reported - even if they are duplicates of known issues - and later closed.  The alternative is that issues that are not known don't get reported and fixed. Obviously this is bad....

Thank you for taking the time to report the issue.

[2015-06-09 21:22] jpdyson opened #243 "Doesn't work with iOS 9 beta"
Bugs are certainly expected in this scenario, and it's not even clear where the error lies, but the application doesn't work in iOS 9 dev preview 1.

The UI is scaled for 640x1136, and nothing seems tapable.

[2015-06-09 22:40] r3mus opened #244 "New Safari extensions gallery"
Just stumbled across this today! https://beta-extensions.apple.com very exciting stuff, and would seal the deal for ditching Chrome entirely if TG worked in Safari!!

[2015-06-09 22:48] dasilva333 commented on #244
The link doesn't work when I try to submit an extension at the bottom, Ill keep it pinned so I can try it later on. Thanks for the info

[2015-06-09 22:51] dasilva333 commented on #243
Unfortunately i won't be able to test it because I'm jailbroken so don't expect a fix any time soon, thanks for the report I'll keep this open

[2015-06-09 23:00] dasilva333 commented on #241
Thanks man that's great I'm really impressed by how you got the post-processor in there for the specialised set. I've been working on a completely separate branch called content-sync

https://github.com/dasilva333/TowerGhostForDestiny/tree/content-sync

It's basically TGD + a new loader that replaces hydra, the app is broken into 3 pieces www, itemDefs and icons. ItemDefs is probably where the Con

[2015-06-09 23:01] dasilva333 commented on #239
Cool simple idea thanks for the feedback

[2015-06-09 23:28] dasilva333 commented on #234
thanks for your help on this stuff man, i added some of the mercury weapons that were missing from there as well and moved the file to setDefs.js and no more having to use the _fix structure. FYI

[2015-06-09 23:28] #234 closed

[2015-06-09 23:40] joshhunt commented on #241
Why do have you percent encoded strings in your `itemDefs.js`? In `update_definitions.js`, you're running  the string values through `encodeURIComponent `, even though you're not using them in a URI/URL.

I don't encode my strings for URL because they're not going in URLS :)

[2015-06-09 23:43] joshhunt commented on #241
And I'm going to do a bit of a rework of the code to make it easier to just run normally on a computer rather than on AWS Lambda (I'm abusing it and it's not really working out properly). If all you get from this is some ideas and code that you can use in your own project, I would still call that a success :)

[2015-06-09 23:47] dasilva333 commented on #190
Hey @Volcannon @jimeh can you confirm it's been fixed as of 2.6.9? Thanks

[2015-06-10 00:11] jpdyson commented on #243
I'll try and update you as the dev preview builds progress. I suspect the issue is with Hydration.

[Please pardon brevity or typos; sent on the go]

[2015-06-10 00:13] jimeh commented on #190
Yep, it's fixed. Properly remembers which account I last had loaded :)

[2015-06-10 00:21] #190 closed

[2015-06-10 01:11] M3Rocket commented on #122
So nice and simple in 2.7.0! Thanx @Mulchman

[2015-06-10 01:40] Volcannon commented on #190
Yes, it works like a charm. Thank you very much.

[2015-06-10 20:00] Mulchman opened #245 ""Consolidate" consumable/material option"
I've wanted to have a "Consolidate" feature for a while now (previously mentioned in this issue https://github.com/dasilva333/TowerGhostForDestiny/issues/122) and a reddit user brought it up here (http://www.reddit.com/r/TowerGhostForDestiny/comments/38jd6m/normalize_improvements/) and here (http://www.reddit.com/r/TowerGhostForDestiny/comments/38mfk2/suggestion_consolidate_items/) so maybe it's t

[2015-06-10 20:07] dasilva333 commented on #245
I like the second option better because the "Transfer Materials" popup is already within the context of transferring to a specific character at that point you're offering an additional option (the consolidate checkbox) which will make it obvious to use and visible to all to find. I say go for the second option unless you really like the first option then you can add both options that would be fine

[2015-06-10 20:28] Mulchman commented on #245
@dasilva333 I get where you're coming from and thought that as well.

What about completely different workflows/entry points/visibility for these add-on type features (consolidate/normalize/bulk-transfer)? Clickable icons on section headers or something? I really have nothing, but where these features should go always seems to be a reluctant solution.

[2015-06-10 20:46] mpastreich commented on #239
No problem, happy to help this great project in whatever small way I can. :)

On Tue, Jun 9, 2015 at 7:01 PM, Richard Pinedo <notifications@github.com>
wrote:

[2015-06-10 21:57] dasilva333 commented on #245
Perhaps that would work in the future when we have the new Dash menu for now adding a consolidate button anywhere in the menu would make it even more cluttered. For phase 1 I say we just go with the first option of providing the consolidate inline with the transfer menu as I see myself using that option the most. Good luck and keep up the good work :)

[2015-06-11 00:18] M3Rocket commented on #245
I like this in the Transfer Materials dialog better until there is a way to specify where to consolidate from. Let's say I want to consolidate from all Guardians to one, but not from the vault.

It seems to me the Transfer Mats dialog box option would simply mean consolidate from ALL sources to the present Guardian/Vault. I think logically, it can reside in the Extras as well, with the one in Extr

[2015-06-11 10:59] seg7 opened #246 "2.7.0"
Loadouts vanished :(

[2015-06-11 11:20] rkingsla commented on #246
Probably going to need more details.  Phone (which?), tablet (which?), browser (which?) etc.  Can you create a new loadout and it still disappears?

FWIW, I'm on 2.7.0 (Chrome) and do not see this problem....

[2015-06-11 11:29] seg7 commented on #246
Chrome Version 43.0.2357.124 (64-bit)
Can create new ones just fine, just can't see my old ones.

Javascript console if it helps:
Failed to load resource: net::ERR_FILE_NOT_FOUND
chrome-extension://gdjndlpockopgjbonnfdmkcmkcikjhge/www/cordova.js Failed to load resource: net::ERR_FILE_NOT_FOUND
https://www.towerghostfordestiny.com/ga.cfm Failed to load resource: net::ERR_CONNECTION_RESET
https://ww

[2015-06-11 11:36] seg7 commented on #246
Update: Can't access the url http://www.towerghostfordestiny.com/ on the browser, dns? Probably the reason the loadouts are not loaded?

[2015-06-11 12:50] rkingsla commented on #246
I hate eating my own words....   :o/  Just pulled latest updates and reloaded.  Repro of your issue is confirmed.  Loadouts gone.

[2015-06-11 13:07] dasilva333 commented on #246
Thanks for the heads up guys, it seems my sever is not responding I'll look into why. rest assured your loadouts are still safe in the db

[2015-06-11 13:51] dasilva333 commented on #246
Domain is back up, loadsout should be working thanks for reporting this issue guys

[2015-06-11 13:51] #246 closed

[2015-06-11 15:00] r3b3lspy commented on #244
I've tried the link and it is working, do you have a developer account?  Can you submit an extension for the current safari browser instead of the beta one?

[2015-06-11 15:02] r3b3lspy commented on #240
Yes this is happening almost all the time, usually after I receive the error I close this app and open Loadouts app and it works all the time, I like your app better but 95% of the time I cannot transfer sets as it is always telling me there is no space when there is plenty of slots available on all characters and I'll use the Loadouts app without issues.

[2015-06-11 15:03] dasilva333 commented on #244
I can't submit an extension for the current browser instead. Link still doesn't work, its not the the link posted doesn't work. It's the blue "submit" button at the bottom leads to me to a 404 after I sign in to this page:

https://developer.apple.com/register/completeRegistration.action?cancelURL=https%3A%2F%2Fdeveloper.apple.com%2Fprograms&successURL=https%3A%2F%2Fdeveloper.apple.com%2Fsafari%2F

[2015-06-11 15:05] r3mus commented on #244
Yeah - looks like it'll be available some time around the release of "El Capitan" (WTF name?).

[2015-06-11 15:07] r3b3lspy commented on #243
The application actually works on iPad iOS 9 and it will open correctly and load all inventory, unfortunately your pop up with the new features legend it is impossible to close, the X button does. Of do anything, the action is missing

[2015-06-11 15:10] r3b3lspy commented on #244
The blue button it is worked no without issues here, when I try it will take me to a screen to submit the actual extension with the form to add all your data.

https://developer.apple.com/safari/extensions/submission/

[2015-06-11 15:11] dasilva333 commented on #244
I get "Page Not Found" when I visit the link you provide there, I don't see a form. Some weirdness going on there not sure what to make of it.

[2015-06-11 15:30] rkingsla commented on #246
Working perfectly......  Thank you!

[2015-06-11 15:32] dasilva333 commented on #243
@r3b3lspy  Are you saying you can't close the Tower Ghost for Destiny Updates popup? The x button on the corner of the pop up is not necessary to close it simply tap the pop up anywhere and it should close. Please clarify clearly so I can understand the problem. thanks

[2015-06-11 15:42] r3b3lspy commented on #243
Yes that is correct, everything loads beautifully and then the popup of doom will show and it is impossible to lose, no matter where you tap.

[2015-06-11 15:48] r3b3lspy commented on #244
I'm a developer with a valid developer (paid) account,  that may be the issue? I've attached the screenshot from the summit page.
![screenshot_2015-06-11_11_45_05](https://cloud.githubusercontent.com/assets/12128020/8111409/acdae5b2-102f-11e5-9668-930d4adc8e76.jpg)

[2015-06-11 16:02] dasilva333 commented on #244
Interesting, I wasn't getting that then I navigated through all the developer pages at one point I was forced to accept to a new Terms of Service agreement, now I revisit that link and I see the form just like you guys. At this point it's just a matter of developing and submitting the extension however it seems you need a Mac to develop Safari extensions still. Despite the fact that their develope

[2015-06-11 16:12] r3mus commented on #244
I'm hoping that someone will devise a means of porting Chrome extensions - phonegap maybe?

[2015-06-11 17:03] r3b3lspy commented on #244
I would love to see that too

[2015-06-11 18:12] M3Rocket commented on #228
This looks fixed in 2.7.0

[2015-06-11 18:12] #228 closed

[2015-06-11 18:15] M3Rocket commented on #240
I think this is part of the larger discussion of the logic used for swapping/equipping. Maybe we can consolidate this with issue https://github.com/dasilva333/TowerGhostForDestiny/issues/236

[2015-06-11 18:24] r3mus commented on #240
Agreed @M3Rocket

[2015-06-11 23:42] #245 closed

[2015-06-12 03:03] ddcruver opened #248 "While executing a load out with a shader it will try to swap the "No Shader" shared and fail"
I discovered this while trying to make a load out for Iron Banner. I would add the shader and class items to the load out and then load it for whatever character I want to play as. It works great by not transferring class items to class that can't equip them but when it goes to the shader that is were it can messes up.

I don't know how it chooses what it swaps out but if your inventory is full it

[2015-06-12 03:11] ddcruver opened #249 "Quick Loadout App or Panel"
The loadout feature is nice and fast as it is but it would be interesting to have an phone app that uses the smarts you have developed and map single buttons to do load out switches.  So the button has a loadout, character, etc. assigned to it and you just press it.  The app seems to not work as well on my Android Phone or Tablet so some feature to make quick assignments would be great.

[2015-06-12 09:37] KBanause opened #250 "PoE/IB weapons not recognized correctly"
For Prison of Elders every weapon exists in two types:
With and Without elemental damage.
Example:
Wolfslayers' Claw (normal version) and Wolfslayers' Claw II (weapon with elemental damage that drops after defeating Skolas in the level 35 PoE).

I have both but when I set a filter to show only the PoE weapons, only the Wolfslayers' Claw is visible.

Also the new Iron Banner weapons are not recogni

[2015-06-12 09:38] KBanause commented on #250
I forgot: I'm using the Chrome extension of TGD, version 2.7.0

[2015-06-12 13:16] dasilva333 commented on #248
Ill have to test it out see if I can reproduce the problem, bottom line is if you're swapping shaders around the same rule apply as everything else, you always need one slot open in your shader slots otherwise things will fail and work unpredictably. Good luck

[2015-06-12 13:16] dasilva333 commented on #249
Perhaps when the new menu is implemented this will make more sense for now I'm not going to clutter the interface further by adding more buttons than it needs. Thanks for your feedback

[2015-06-12 13:16] #249 closed

[2015-06-12 13:18] dasilva333 commented on #250
thx for the info

[2015-06-14 11:13] Bazzu85 opened #251 "item not showing in android and chrome app"
Hi,
i'm using android and chrome app..

First time app is used all working..
second time nothing is showing..

here's is a screen..

https://www.dropbox.com/s/fv58nxgx71760uz/Screenshot%202015-06-14%2013.10.01.png?dl=0

same situation in android app..

I've tried to click on psn login, use psn account but nothing happen...

I have to uninstall and reinstall app..

[2015-06-15 01:12] ovazquez242 opened #252 "App won't load on Samsung Galaxy Tab 10.1 Android 4.04"
I get a message indicating Cookies must be enabled on Chrome before loading TGD? But there is no way that I can do this Chrome is setup to allow cookies on the Tablet.
![screenshot_2015-06-14-20-17-22](https://cloud.githubusercontent.com/assets/12887758/8151381/0509ed3a-12da-11e5-92f5-efa58d2580a5.jpg)

[2015-06-15 01:56] dasilva333 commented on #251
Thank you for the bug report, this is a new bug that was recently introduced I'm surprised it affected mobile. Will get this fixed. @Bazzu85 After you uninstall and reinstall did it start working again or is it completley non-functional now?

[2015-06-15 02:04] dasilva333 commented on #252
Thanks for the bug report I'll get this fixed asap

[2015-06-15 15:38] weborican opened #253 "Normalize option for material not working as expected"
When I try to consolidate materials (Helium Filaments in this case), the results are not quite what I expected. My steps are: Helium Filaments -> Extras, select each of my 3 characters (an not the Vault) and click on Normalize. When it is all said and done I end up with Helium Filaments in my Vault, and if I try it a second time it tells me the items are already normalized.

![screen shot 2015-06-

[2015-06-15 15:49] weborican commented on #253
Looking at the total displayed (928), I have a feeling this feature doesn't work as I expected.

My expectation was that ALL Helium Filaments would be normalized across my selected characters, not normalize ONLY the Helium Filaments currently on the selected characters among themselves.

Basically, this may not be a bug... but rather a misunderstanding of the Normalize feature :-(

[2015-06-15 15:54] dasilva333 commented on #253
Yeah I'm not sure of @Mulchman's intent on this one I'll leave it up to him to decide whether it's a bug or not

[2015-06-15 18:18] M3Rocket commented on #253
I got confused reading the title thinking it was consolidate (Issue https://github.com/dasilva333/TowerGhostForDestiny/issues/245), but seems to refer to normalize (Issue https://github.com/dasilva333/TowerGhostForDestiny/issues/122)?

I can't reproduce your first step when you said you select three characters but not the vault to normalize. If you do that and there were no helium filaments in you

[2015-06-15 18:24] weborican commented on #253
Sorry, yes... "nomalize" is what I was referring to. In my example there were Helium Filaments in my Vault. I clicked on them (on the Vault) and selected Normalize (with my 3 characters selected, but not the Vault).

[2015-06-15 18:34] Mulchman commented on #253
@weborican It's doing what it's supposed to: it only normalizes between the characters that are selected. Whether that's good or bad for most users, I can't say, but it's how I personally wanted it to work. (I leave things in the vault that aren't to be touched.)

I mocked up a more advanced type of normalize dialog but it was too confusing and got shot down (http://imgur.com/z9p1H6v). It let you

[2015-06-15 18:35] Mulchman commented on #253
and to add- @weborican to get what you want, manually move that Helium to any player, then do the normalize process. :/

[2015-06-15 18:36] Mulchman commented on #253
and another thing I forgot- @weborican that 928 number is the sum of Helium on the selected characters. It should change as you change selection.

[2015-06-15 18:36] Mulchman commented on #253
(and I edited the title as it confused me as well initially)

[2015-06-15 19:02] M3Rocket commented on #253
I'm not sure this should be classified as a bug anymore. Seems to me it's working as intended and should be closed. Perhaps we should further the discussion on a more "Advanced" normalize in issue https://github.com/dasilva333/TowerGhostForDestiny/issues/122.

[2015-06-15 19:06] #253 closed

[2015-06-15 19:23] Bazzu85 commented on #251
hi, thx for feedback..

after a data delete (android) the app start working fine..
i'm trying chron extension!

[2015-06-15 19:27] Bazzu85 commented on #251
seems to work on both platform! thx dude!

[2015-06-15 19:43] dasilva333 commented on #251
Im glad that fixed it for you, I will be investigating solutions to avoid this happening to other people in the future. Thanks for your feedback I'm going to close this ticket now

[2015-06-15 19:43] #251 closed

[2015-06-15 23:19] wickles opened #254 "Auto Pad Height adds an extra row in new version 2.7.2"
![screen shot 2015-06-15 at 4 18 29 pm](https://cloud.githubusercontent.com/assets/4229542/8172870/4887d13a-137a-11e5-9db9-96d73f0eca16.png)

[2015-06-15 23:57] Mulchman commented on #254
The extra padding is also there on an Android tablet.

[2015-06-16 18:11] dasilva333 commented on #254
thanks guys I too noticed the problem recently expect it fixed as of 2.7.3

[2015-06-16 18:16] dasilva333 commented on #250
problem will be fixed as of 2.7.2 thanks

[2015-06-16 18:18] dasilva333 commented on #239
this has been added as of 2.7.1 closing this issue

[2015-06-16 18:18] #239 closed

[2015-06-16 18:21] dasilva333 commented on #230
closing this issue its been long fixed, feel free to let me know if u still experience the issue in this ticket thanks

[2015-06-16 18:21] #230 closed

[2015-06-16 18:22] dasilva333 commented on #222
this was added a while ago, closing out this ticket thanks for the feedback

[2015-06-16 18:22] #222 closed

[2015-06-16 18:29] dasilva333 commented on #198
Unfortunately the APi is still buggy even after 30 days from when the issue is been reported, not much I can do to fix it, closing it out until Bungie comes up with a fix on their end

[2015-06-16 18:29] #198 closed

[2015-06-16 18:43] dasilva333 commented on #195
problem will be fixed in 2.7.3 thanks

[2015-06-16 18:43] #195 closed

[2015-06-16 18:51] dasilva333 commented on #70
feature will be added as part of 2.7.3 closing out this issue thanks for the feedback

[2015-06-16 18:51] #70 closed

[2015-06-16 18:52] dasilva333 commented on #235
this was fixed as of 2.7.0 closing it out

[2015-06-16 18:52] #235 closed

[2015-06-16 18:54] dasilva333 commented on #199
Closing this out, you can access DestinyStatus from the menu as a pop up within the app. thanks for the feedback guys

[2015-06-16 18:54] #199 closed

[2015-06-16 19:04] dasilva333 commented on #172
Hey guys I added the ability to set the number of columns on the app as well as improved the default size for a lot of screen sizes so im closing this issue, feel free to open a new one in the future if there's something more wrong

[2015-06-16 19:04] #172 closed

[2015-06-16 19:04] dasilva333 commented on #214
@lllgurulll hey i was able to reproduce the 'dead screen' issue thanks for reporting it i found it a few days ago and was surprised you're the only one who ever mentioned it as a problem. thanks again

[2015-06-16 19:06] dasilva333 commented on #229
this has been fixed as of 2.7.0+, more improvements coming in 2.7.3 regarding the height. closing this issue as it is now been resolved thanks man

[2015-06-16 19:06] #229 closed

[2015-06-16 19:11] dasilva333 commented on #177
This has been much been completed and done, Im closing out this ticket. Feel free to open a new one for @Mulchman if there's anything else that needs done

[2015-06-16 19:11] #177 closed

[2015-06-16 19:15] #187 closed

[2015-06-16 19:15] #188 closed

[2015-06-16 19:15] #189 closed

[2015-06-16 19:19] KBanause commented on #250
Unfortunately this issue is not fixed. See screenshots

![iron_banner_autorifle](https://cloud.githubusercontent.com/assets/999719/8192257/2d85fcd8-146d-11e5-8604-a97974ce8c00.png)
![iron_banner_weapons](https://cloud.githubusercontent.com/assets/999719/8192259/2d870da8-146d-11e5-9ec6-c567a5632afb.png)
![missing_ib_weapons](https://cloud.githubusercontent.com/assets/999719/8192255/2d85cb5a-146d-11

[2015-06-16 19:33] dasilva333 commented on #250
Sorry I misspoke I meant 2.7.3 the next release, the current release is 2.7.2

[2015-06-16 19:34] #94 closed

[2015-06-16 19:49] rkingsla commented on #199
And, it’s awesome!  Exactly what I think the use case is all about.

[2015-06-16 19:56] Mulchman commented on #70
Just a heads up that clicking on a bounty pops up the transfer box. (2.7.2)

[2015-06-16 19:59] Mulchman opened #255 "Trials Passage shows up in Postmaster section"
Trials Passages are showing up in the Postmaster section. (Running from source which says 2.7.2.)

Example (http://imgur.com/aXyswfM)
![example](http://i.imgur.com/aXyswfM.png)

[2015-06-16 20:02] dasilva333 commented on #70
yeah i know i just havent pushed the latest version yet thx tho :)

[2015-06-16 20:03] rkingsla opened #256 "Off by one error with bounties"
Should be easy to see.  Two bounties are reported - one is actually in place.
![beta 2 7 3 off by one error](https://cloud.githubusercontent.com/assets/2037051/8193176/dbe78ef2-1438-11e5-9eb0-4f0319f56b56.png)

[2015-06-16 20:04] dasilva333 commented on #255
Thanks, I suppose it doesn't belong there but there isn't anywhere else it does belong. Not sure where it should go instead. I do appreciate being able to see it though. Perhaps I'll leave it there for now

[2015-06-16 20:05] dasilva333 commented on #256
lol damn @rkingsla it's not even out yet and you're already finding bugs. thanks man that's actually already been resolved i just havent pushed the latest changes yet

[2015-06-16 20:05] Mulchman commented on #255
A new "missions" section? I don't know. Clicking/touching- it would be cool if it showed win/loss in some manner.

[2015-06-16 20:07] Mulchman commented on #70
Sorry :P

Just get excited when I see development happening!

[2015-06-16 20:15] dasilva333 commented on #248
I fixed the problem, loadouts should no longer try to swap the 'no shader' item with an actual shader in the future. So to recap if you have 9 shaders on ur titan and u have 9 shaders on ur hunter, you select goldspiral in your loadout and xfer it to the titan. you should see it present an option to swap goldspiral with another random shader that's not the 'no shader' option.If you have 10 shaders

[2015-06-16 20:15] #248 closed

[2015-06-16 20:31] rkingsla commented on #256
;o)  Working for Microsoft for a bunch of years makes a good software tester.  Well, by Microsoft standards....

[2015-06-16 20:50] dasilva333 commented on #256
Closing this out as it's already been resolved. thanks again

[2015-06-16 20:50] #256 closed

[2015-06-16 21:10] Mulchman commented on #255
In case you haven't seen it locally yet, it's showing 11/10 due to having max bounties + the Trials Passage (http://imgur.com/QVmeDn8)-

![example](http://i.imgur.com/QVmeDn8.png)

[2015-06-16 21:12] Mulchman commented on #255
Iron Banner medallions also showing in Postmaster section. (Just relaying, don't kill me.)

[2015-06-16 22:35] lllgurulll commented on #214
Glad to hear you have discovered the issue.  I figured I would just have to
live with it.  Having the bigger boxes back made a big difference though.
When do you expect to have a fix for the issue?  Or did you already?

On Tue, Jun 16, 2015 at 2:04 PM, Richard Pinedo <notifications@github.com>
wrote:

[2015-06-17 01:04] dasilva333 commented on #214
Coming out 2.7.3

[2015-06-17 01:26] dasilva333 commented on #163
this has long been fixed as the code_format.js tool that is part of the build process. thanks to @matthubb

[2015-06-17 01:26] #163 closed

[2015-06-17 01:29] dasilva333 commented on #139
You can now see those stats when clicking on the light level in the emblem for each character. Thanks for the suggestion good stuff. Closing this ticket bc its been completed already.

[2015-06-17 01:29] #139 closed

[2015-06-17 01:39] dasilva333 commented on #88
@lanejcf the newest version of auto pad height 2.7.3 will work the way you described thanks for your feedback ill be closing this issue now

[2015-06-17 01:39] #88 closed

[2015-06-17 01:47] dasilva333 commented on #91
Hey guys I'm closing this old issue in favor of issue #236 and #240, it will be fixed in the future feel free to leave any feedback there instead thanks

[2015-06-17 01:47] #91 closed

[2015-06-17 01:56] ovazquez242 commented on #252
I tried installing it prior to the update and it would not finish loading my inventory before at least it would login to the bungie.net site it just seemed to get stuck finishing the loading process.  Now it returns the error message.

[2015-06-17 01:58] ovazquez242 commented on #252
I know it's an older device but it's still very much usable so I would love to get it to work for TGD love the all by the way and getting the word our on it to the community.

[2015-06-17 01:58] dasilva333 commented on #252
Try version 2.7.2 and above it has a fix to prevent that message from showing, let me know if it works. Thanks

[2015-06-17 02:04] ovazquez242 commented on #252
How can I dl 2.72 app store only shows 2.1.1

—
Sent from Mailbox

On Tue, Jun 16, 2015 at 9:58 PM, Richard Pinedo <notifications@github.com>
wrote:

[2015-06-17 02:05] dasilva333 commented on #252
it just auto updates itself so install the store version and let it update to 2.7.2 and it should work

[2015-06-17 02:05] ovazquez242 commented on #252
Actually this is 2.7.2 that's happening on

—
Sent from Mailbox

On Tue, Jun 16, 2015 at 9:58 PM, Richard Pinedo <notifications@github.com>
wrote:

[2015-06-17 02:17] dasilva333 commented on #252
Sorry I misspoke it's hard to keep a timeline of everything that goes into every version, expect the fix in 2.7.3 for android coming out soon. Thanks

[2015-06-17 15:58] weborican commented on #252
FYI, this is still happening on 2.7.5

[2015-06-17 15:59] dasilva333 commented on #252
@weborican you're getting the same error message on 2.7.5 in Android now? can you let me know exactly what device you're using as I cant reproduce this problem. thanks

[2015-06-17 16:56] #255 closed

[2015-06-17 16:58] dasilva333 commented on #254
this has already been fixed as of 2.7.3+ thanks guys

[2015-06-17 16:58] #254 closed

[2015-06-17 16:59] Mulchman commented on #232
@dasilva333 is there any programmatic way to know the max stack limit for a particular consumable/material? Or would we have to have an internal method for tracking such a thing?

[2015-06-17 17:01] Mulchman commented on #232
I'll take a look at this and see if I can figure it out.

[2015-06-17 17:01] dasilva333 commented on #232
I'm not sure actually, I think there might be a definition files somewhere that tells us the maxStackSize for a particular given itemHash however I haven't seen it and I'm not sure how I would begin to start implementing enforcing of the proper stack sizes. Assuming the API gives us that info it's just a matter of implementing extra logic at the Item.js transfer level to stack the items properly.

[2015-06-17 17:15] Mulchman commented on #232
Looks like the TGfD ItemDefs might need to be updated (?). Looking at the destiny.plumbing consumable feed (http://destiny.plumbing/items/en/Consumable.json), there's indeed a maxStackSize value.

[2015-06-17 17:17] Mulchman commented on #232
What generates the data that's put into itemDefs.js?

[2015-06-17 17:19] dasilva333 commented on #232
Delete this line from your update_definitions.js to create new itemDefs file with that property included:
https://github.com/dasilva333/TowerGhostForDestiny/blob/master/build/update_definitions.js#L25

Expect that property to be there in future versions.

[2015-06-17 17:31] Mulchman commented on #232
Yeah, I changed (locally)

to

[2015-06-17 17:33] dasilva333 commented on #232
no its fine just get rid of the delete statement, there's no need to encode that field because its just a number not text or anything. I only need to run it through an encoding if there's characters displayed. thanks

[2015-06-17 17:33] weborican commented on #252
OMG, I just relaunched TGD on my Android device and it (again!) presented me with the "new version available" screen. Updated and now it works. WTF?

Oh wait, it is now 2.7.7. Did you make any changes for this on .6 or .7 version. If you did, it now works :-)

I haven't used TGD on my Android device for a few weeks now, so I don't know when it stopped working.

[2015-06-17 17:35] dasilva333 commented on #252
@weborican thanks for the quick reply 2.7.7 just changed some minor things how i report other errors and 2.7.6 redefines the definition of isChrome so I think that's what fixed it for you, see the commit here:

https://github.com/dasilva333/TowerGhostForDestiny/commit/3e6284886fe4d51bf6f25fd36c34d06b11e069f5

I'm going to wait for @ovazquez242 to confirm its working as of 2.7.7 now and consider th

[2015-06-17 17:44] weborican commented on #252
Yes, I believe it was your isChrome definition change that fixed it. Thanks @dasilva333 !

[2015-06-17 18:43] Mulchman commented on #232
Gotcha. I'm also seeing why another bug exists when you split a stack through a transfer and then try to use either split to do further transfers: there's no cloning or new item creation happening when splitting.

[2015-06-17 19:14] dasilva333 commented on #232
@Mulchman exactly I've known that for a while but again I'm out of ideas as to how to actually fix it. Good luck bud

[2015-06-17 21:29] Mulchman commented on #232
Is there a trick to getting the UI updated when adding to one of the characters' items() array? Can I poke the ko.observable stuff somehow? Even when changing the primaryStat value, I have to remove and re-add the item which is not good as the internal ordering changes.

[2015-06-17 22:42] Mulchman commented on #232
Mind checking this out and helping to figure out why the y.items.push() doesn't work? http://pastebin.com/2AtP7nwf

For testing I take all heavy out of vault then transfer a partial stack from a player to the vault. It's supposed to leave the original stack in place, decrement the original stack primaryStat value, create a new stack and move it to the vault. The result is nothing visually. No new

[2015-06-17 23:47] M3Rocket opened #257 "Share URL displays blank page on FF 38.0.5 and IE 11"
The Share URL in 2.7.8 returns a blank page for me in both Firefox and Internet Explorer. Seems to only work in Chrome?

[2015-06-18 00:04] dasilva333 commented on #257
thanks for the update, i saw your inventory and you have some pretty cool shaders man it's fixed now closing out the ticket

[2015-06-18 00:04] #257 closed

[2015-06-18 01:51] Cravit8 commented on #146
Just want to say fabulous work on the app man! I donated via paypal under "
setapart4m@hotmail.com"

On Thu, May 7, 2015 at 6:43 PM, Richard Pinedo <notifications@github.com>
wrote:

[2015-06-18 02:11] M3Rocket commented on #257
Very cool--thanx @dasilva333 ! Wish I had more space for shaders really. I don't like that it shares the same vault space as armor since armor is obviously more important.

[2015-06-18 13:25] moeyjar commented on #236
This may be the same thing, but I'm also seeing some oddness with the way it's moving items around, even though there is space in both the vault, and on my characters.

In some cases, it will move without issue, but other times ,it wants to swap out a gun for another one, even though it's not trying to be equipped, or running low on space.  I was hoping that the loadouts would just move the guns i

[2015-06-18 13:37] moeyjar commented on #236
It seems it may have something to do with the Exotics.

- On hunter, I moved both Thorn and TLW to Vault
- I removed Vex from the Prison of Elders loadout

It now will move without any swapping

[2015-06-18 13:51] KBanause commented on #250
As of version 2.7.9, the new iron banner weapons are still not in the Iron Banner Set view

[2015-06-18 14:06] dasilva333 commented on #250
@KBanause Thanks for the update, I thought I got em all but I suppose I missed a few perhaps @schubydoo could help out or if you want to lend a hand that's great too.

To resolve the issue here's what I need you to do:

- Go to the menu, click on DestinyDB mode
- Click on the weapons missing on the IB set
- provide me the links to those weapons in this post

Thanks

[2015-06-18 14:26] KBanause commented on #250
@dasilva333

https://destinydb.com/items/2115569661   (Silimar's Wrath)
https://destinydb.com/items/892062222     (Gheleon's Demise)
https://destinydb.com/items/3968437225   (Skorri's Revenge)
https://destinydb.com/items/3582249030   (Timur's Lash)
https://destinydb.com/items/2180040613   (Efrideet's Spear)
https://destinydb.com/items/1730663491   (Fellwinter's Lie)
https://destinydb.com/items/192

[2015-06-18 14:32] dasilva333 commented on #250
thanks man expect it in 2.8.0

[2015-06-18 14:32] #250 closed

[2015-06-18 14:59] Solhawk17 commented on #180
Richard,

I have an enhancement request, but I'm not sure if it's possible.

When you hover over a weapon, you can see the weapon stats/numbers like
this:

[image: Inline image 2]

Is there a way to see these weapon stats/*numbers *AFTER the perks have
been applied? For instance, Six Dreg Pride, the RANGE stat nearly doubles
after the perk HAND LOADED is applied. I would like to know the *actual
v

[2015-06-18 15:06] dasilva333 commented on #180
Sorry no can do, that information isn't available in the API so even if I wanted to I couldn't render that type of information on top of the existing tooltip. Cool idea though thanks anyways

[2015-06-18 15:07] Solhawk17 commented on #180
Cool thanks for the quick reply!

On Thu, Jun 18, 2015 at 10:06 AM, Richard Pinedo <notifications@github.com>
wrote:

[2015-06-18 18:21] M3Rocket commented on #236
Just another thought based on my experience. I have duplicates of certain weapons like Fatebringer and Gally that I don't need switched. So I usually leave them out of the Loadouts. Unfortunately, while switching other weapons around, often times, TGD will swap out the duplicates even when there is lots of space, and I end up with one guardian having two Fatebringers, etc. Meanwhile, I have to man

[2015-06-18 18:30] M3Rocket commented on #236
TL;DR There needs to be some logic when swapping weapons so that if the destination already has  same name weapon with different stats, those are the ones that need to be prioritized. So if the loadout contains a Fatebringer, check to see if the destination has a Fatebringer. If it does, then make sure these are swapped.

[2015-06-18 20:45] Bazzu85 opened #258 "item missing exp not showing when using filter"
Hi,

I have a truth tht is not full experienced and when filtering with "missing xp" is not showing..

other items like murmur or 77 wizard instead are showed like missing xp but are maxed (without etheric light)

here's a screens:

truth not showing
https://www.dropbox.com/s/87sdw44rm387k8m/Screenshot%202015-06-18%2022.42.22.png?dl=0

truth without filters:
https://www.dropbox.com/s/jymeofalufpf1

[2015-06-18 20:47] dasilva333 commented on #258
There's a problem with Bungie's API where I'm getting inconsistent and unreliable data to accurately show the items in those filters. I'm closing out this issue until Bungie gets their act together and fixes their API

[2015-06-18 20:47] #258 closed

[2015-06-18 20:54] Bazzu85 commented on #258
ok!

[2015-06-19 19:02] Mulchman commented on #232
Anyone interested in testing? Changes are in my fork. You have to run update_definitions.js first though so maxStackSize gets put in itemDefs.cs correctly.

Transferring/splitting is all in there now. No clue if it's doing the correct things behind the scenes with respect to what the companion app does, but everything's tracked correctly for me so far. This is why I'm asking for testing before mak

[2015-06-19 19:03] Mulchman commented on #220
Anyone interested in testing? Changes are in my fork. You have to run update_definitions.js first though so maxStackSize gets put in itemDefs.cs correctly.

Transferring/splitting is all in there now. No clue if it's doing the correct things behind the scenes with respect to what the companion app does, but everything's tracked correctly for me so far. This is why I'm asking for testing before mak

[2015-06-19 20:04] M3Rocket commented on #220
I'll look at it @Mulchman

[2015-06-19 20:13] Mulchman commented on #220
Thanks @M3Rocket

Found a bug due to not checking for -1 return value of _.indexOf(). Fix will be in soon.

[2015-06-19 22:07] M3Rocket commented on #220
Been trying the beta. I think you have to force a refresh AFTER the items are transferred. Otherwise, the destination always shows two stacks even when there's supposed to be one. And the problem compounds when you click on one of the stacks in the destination and then transfer it to another destination.

[2015-06-19 22:12] Mulchman commented on #220
Can you give me a test case I can reproduce locally?

[2015-06-19 22:13] Mulchman commented on #220
Okay, just saw what I think you're describing by splitting a stack from a character (not the vault) to another character (not the vault).

[2015-06-19 22:17] M3Rocket commented on #220
Going to transfer 90 Relic Iron from left to right:
![2015-06-19_150921](https://cloud.githubusercontent.com/assets/3769123/8264008/ddf0338e-1695-11e5-8c8b-ee6dfc30a5f7.png)

Result is two stacks in destination. And the count is wrong on source:
![2015-06-19_150922](https://cloud.githubusercontent.com/assets/3769123/8264019/fe223e9a-1695-11e5-92aa-8357e4731607.png)

I then clocked on the stack of

[2015-06-19 22:47] Mulchman commented on #220
I believe I've fixed it. Please try again!

[2015-06-19 23:20] Mulchman commented on #220
Just pushed a bug fix for the cleanup (*shift left*) code.

[2015-06-19 23:24] Mulchman commented on #220
Ugh. It's gotten more broken. Don't waste your time testing.

[2015-06-19 23:27] M3Rocket commented on #220
OK. Let me know when it's more stable. I'll be checking every couple of hours.

[2015-06-19 23:51] Mulchman commented on #220
Pushed another fix when transferred are chained together (like player -> vault -> player) and new stacks got created visually due to maxStackSize getting hit with the first transfer.

[2015-06-19 23:58] Mulchman commented on #220
I won't be able to fix everything until next week most likely so I wouldn't bother testing. Most of the problems now are related to crossing stack boundaries. Transfer function might need to be taken off of the Item 'class' and made a 'static'/'global' somewhere else so that keeping the original reference doesn't matter.

[2015-06-20 00:27] M3Rocket commented on #220
Roger that. Will check back next week.

[2015-06-20 16:46] gamey1000 opened #259 "maxed items showing when set to missing xp"
![desktop capture-06-20-2015 12-43-06](https://cloud.githubusercontent.com/assets/11579647/8268186/1e69d596-174a-11e5-9682-20ff0086013c.jpg)
My Ice breaker and Hunger of Crota are showing up when I have missing xp selected even though I have the gold border around both. They also don't show up when maxed progress is selected
![desktop capture-06-20-2015 12-47-36](https://cloud.githubusercontent.co

[2015-06-20 21:28] M3Rocket commented on #259
This is a bug in the Bungie API and has existed since the HoW release. Can't be fixed by Tower Ghost until Bungie decides to fix it on their end.

[2015-06-20 21:35] M3Rocket opened #260 "Postmaster item count inaccurate"
Postmaster can save up to 40 items--20 public event, cryptarch, faction packages + 20 weapons, shaders, emblems, engrams. Current displayed total is incorrect:
![2015-06-20_143013](https://cloud.githubusercontent.com/assets/3769123/8269352/6558aa04-1759-11e5-821c-985996b32b2d.png)

[2015-06-21 17:20] lllgurulll opened #261 "Equipped weapons issue"
The manager used to allow me to move weapons around that were still equiped on my other characters.  Now I have to manually go unequip them before I can move them with the app.  Can you change this back to the old way that allowed us to move them without having to unequip them first.

[2015-06-21 17:27] lllgurulll commented on #261
To expand a bit.  I CAN move an single equipped weapon with the app but when I use loadouts is where the problem exists.  If even one weapon is equipped it breaks loadouts now.  This wasn't an issue last week.

[2015-06-21 17:38] larryhl opened #262 "Hydration Update screen on Windows Phone hangs"
Whenever I load the app on WP, it always asks to update. However if I do choose to update, the progress bar fills up and then just stays there indefinitely or at least until the screen turns itself off.

Since WP supports auto updating through the Store, I was wondering if it was possible to just have an option to disable the Hydration check if it's not an easy fix, since choosing to ignore every

[2015-06-21 23:22] dasilva333 commented on #262
Yeah I agree I think the next release of WP is going to be Hydra-free thanks for the feedback I'm closing this out

[2015-06-21 23:22] #262 closed

[2015-06-21 23:23] dasilva333 commented on #260
Expect this fixed in the next version thanks

[2015-06-21 23:27] dasilva333 commented on #259
@M3Rocket well said, you can also tell it's bugged on their end if you visit the companion app or the bungie website you'll see items with gold borders that don't belong to it.

[2015-06-21 23:27] #259 closed

[2015-06-21 23:28] dasilva333 commented on #261
Yeah I agree there's problems with the logic I'll mark this as a bug so it can get fixed even though this is probably related to an existing open bug. Thanks for the feedback

[2015-06-22 21:33] Mulchman commented on #220
@M3Rocket thanks again for the quick turnaround testing on Friday.

I've gone over things in my head during the weekend and just need some time to program. I'll update when I have something stable.

[2015-06-23 04:50] Mulchman commented on #220
I think it's real close. If anyone's available to test, please try.

[2015-06-23 05:27] M3Rocket commented on #220
Just DL'ed and testing. Looks like the numbers are correct now in terms of transferring. But stacking is still off. But the calcs are correct.
![2015-06-22_222549](https://cloud.githubusercontent.com/assets/3769123/8299481/df12fce8-192d-11e5-9b7a-23f2bbc21c33.png)

[2015-06-23 05:29] Mulchman commented on #220
Repro case please- how did you arrive at that

[2015-06-23 05:30] M3Rocket commented on #220
Just edited with case: Started with 90 on left, 130 right. Transferred 80 to right then 50 back to left.

[2015-06-23 05:33] Mulchman commented on #220
Can you jump in the slack chat if you're available? I just did the same and things look ok (?). I had some extras chilling in the vault, to make numbers match, but other than that it looked the same.

[2015-06-23 06:35] Mulchman commented on #220
Discovered something interesting screen sharing w/ @M3Rocket : Bungie API allows you to transfer more than a stacks worth at a time.

[2015-06-23 18:12] Mulchman opened #263 "Long initial load on Android tablet leads to broken images"
This happens on my *Samsung Tab 10.1* tablet almost every time I start the app out for the first time after powering on the tablet. The last character loaded usually has a lot of broken thumbnail images and I have to tap refresh to get things to show up. My guess is something is timing out somewhere?

Here's what I mean (http://imgur.com/dTHvEqY):
![example](http://i.imgur.com/dTHvEqY.png)

[2015-06-23 22:22] Mulchman commented on #220
Besides transferring an amount greater than the stack's maxStackSize, has anyone found any bugs?

[2015-06-24 12:04] kohum commented on #222
Oh yeah..  thanks for this.  It's really helpful.  Should have closed it myself.

[2015-06-24 18:20] Mulchman commented on #263
@dasilva333 any pointers as to where to start investigating?

[2015-06-24 18:22] Mulchman opened #264 "Development/Testing Mobile"
Can someone explain how they test other platforms/browsers other than Firefox/Chrome? There have been several things I've contributed to where I was essentially guessing and hoping it looked okay on mobile. For instance, right now on my Android phone the transfer dialog has weird line wrapping. I have no way of testing this, though.

[2015-06-24 20:40] Mulchman commented on #232
It's ready to test again. No update_definitions.js needed. Just grab my fork and try to break transferring consumables/materials.

[2015-06-24 20:41] Mulchman commented on #220
It's ready to test again. No update_definitions.js needed. Just grab my fork and try to break transferring consumables/materials.

[2015-06-24 20:57] #264 closed

[2015-06-24 23:15] #122 closed

[2015-06-24 23:39] M3Rocket commented on #232
Going to download and test right now. Sorry--been in meetings all day.

[2015-06-24 23:52] M3Rocket commented on #232
Seems to work well--stacking looks all cleaned up. I think it's ready for release. Nice job @Mulchman!

[2015-06-25 02:16] Mulchman commented on #232
Cool. Appreciate the testing!
On Jun 24, 2015 4:52 PM, "M3Rocket" <notifications@github.com> wrote:

[2015-06-25 18:03] Mulchman commented on #209
I thought this would be something easy for me to add - displaying whether stuff is locked or not - but I can't get the alignment right after ~45 minutes of tweaking. Help me w/ the CSS please (http://imgur.com/wKU37D7). :(

![KnowNoCSSMagic](http://i.imgur.com/wKU37D7.png)

[2015-06-25 18:16] Mulchman commented on #209
Might need the elusive @bluetidepro to make an appearance? I just don't understand what impacts what with respect to the <div> arrangement(s) and the CSS stuff.

[2015-06-26 01:30] M3Rocket commented on #232
@Mulchman Just D/L'ed your merged version from the original branch, and it seems that there is a bug. Transferring stacks now does not bring up the Transfer Dialog Box but immediately moves the entire stack.

[2015-06-26 01:52] M3Rocket commented on #260
Found another bug whereby not ALL packages are being shown nor counted at the postmaster.

This is what is showing on Bungie.net:
![image](https://cloud.githubusercontent.com/assets/3769123/8369188/d44ddad2-1b6a-11e5-91f1-d1bda883af4c.png)

This is what is showing on TGD 2.8.0:
![image](https://cloud.githubusercontent.com/assets/3769123/8369214/11fe5a3c-1b6b-11e5-8f60-58a232cfc3d6.png)

This is wh

[2015-06-26 02:28] Mulchman commented on #232
Thanks for the feedback! I'll check it out as soon as I can.
On Jun 25, 2015 6:30 PM, "M3Rocket" <notifications@github.com> wrote:

[2015-06-26 16:31] Mulchman commented on #232
@M3Rocket : just want to confirm you don't have **Auto Transfer Stacks** enabled?

I'm testing @dasilva333 's repo and things seem okay, but I'm not being too thorough. Can you provide a bit more information for reproducing?

[2015-06-26 19:00] M3Rocket commented on #232
@Mulchman Doh! I don't know why that was checked? I never use Auto Transfer Stacks. Sorry for the alarm.

Back to regular programming...

[2015-06-26 19:29] #209 closed

[2015-06-26 19:30] Mulchman commented on #209
Coming soon...

[2015-06-26 19:30] Mulchman commented on #232
Ha. Closing... coming soon whenever a new version is released.

[2015-06-26 19:30] #232 closed

[2015-06-26 19:30] Mulchman commented on #220
Closing... coming soon whenever a new version is released.

[2015-06-26 19:30] #220 closed

[2015-06-27 05:02] pattont commented on #201
Yea, lately I am finding that the iPad app is near impossible to use on my iPad Mini or iPhone 6 because the load times are so bad. When the first beta for iOS was available it was AWESOME and has slowly (sorry for the pun) become unusable due to load times. If I uninstall the app and re-install it works ok that time, but force closing and re-opening it leads to the horrible inventory load once ag

[2015-06-27 10:41] Titus-s opened #268 "Issue with selecting item on mobile"
Hello, recently I've bought Xperia Z3 tablet and install TGD.
There is very frustrating issue with selecting items. Often I have to tap twice or more to appear "Move to" dialog. Sometimes it appear after one tap but always with 0,5 - 1 second delay.

I have to add, that this is not just my problem. I still recommend this app to my friends and this is the first issue they reporting to me. I don't k

[2015-06-27 15:42] hueligton opened #269 "Windows 8 app"
Please do a Windows 8 APP. I believe you can turn the windows phone in a universal app for Windows 8 too using the actual code.

[2015-06-27 15:44] hueligton opened #270 "Bug: Windows Phone version ask to update every time"
Windows phone version ask for update every time you run the app. If you run the update nothing happens, but with you ignore, you can use it.

[2015-06-27 19:16] dasilva333 commented on #270
Hydra is really buggy, expect the next store release to be Hydra-free thanks for the feedback

[2015-06-27 19:16] #270 closed

[2015-06-27 19:17] dasilva333 commented on #269
There's already an open issue #45 for this cause, It is indeed trivial using the existing code and the cordova/phonegap framework. Just need to get to it. thanks for the feedback

[2015-06-27 19:17] #269 closed

[2015-06-27 19:56] MostDefiantly commented on #58
Hey @dasilva333! I'm down for a conference call or IM session or whatever if you want to hammer this out once and for all. Just give me a heads up and I can hop online.

I still have my cookie information and whatnot from the jconsole output saved too if that helps. Thanks again.

[2015-06-27 20:50] dasilva333 commented on #58
Join us at Slack so we can chat the details are here:
https://github.com/dasilva333/TowerGhostForDestiny/wiki/Slack-Group-Chat

I also have jsconsole up and running so when you connect I should be able to just start hacking away, Thanks!

[2015-06-27 20:57] MostDefiantly commented on #58
Great, I shot an email to @bluetidepro for an invite. Talk to ya soon.

[2015-06-27 21:03] dasilva333 commented on #58
In the mean time you can also fire up the jsconsole session so I can debug it thanks

[2015-06-27 21:06] MostDefiantly commented on #58
Used the APK from your earlier walkthrough, and logging in now.

[2015-06-27 21:28] dasilva333 commented on #58
He might not be available on weekends, you can also send me your email to support@towerghostfordestiny.com and I can invite you for now. Thanks

[2015-06-27 21:34] MostDefiantly commented on #58
Sent

[2015-06-29 16:56] acedanger opened #271 "Loadouts options don't appear in portrait view"
Regarding the mobile version of TowerGhost, when I select the "Loadout" menu item, there aren't any menu items displayed when in portrait mode. When I rotate my devices to landscape mode, the menu items are displayed.

I've tried both on my phone (ATT Samsung S4) and tablet (Samsung Tab S 8.4").

[2015-06-29 18:07] M3Rocket commented on #271
What version of TGD are you using? I can't reproduce this with 2.7.9. Seems to work fine for me on various Android devices.

[2015-06-29 18:13] M3Rocket commented on #268
I definitely notice this delay on various Android devices. Turning on "Destinydb Tool Tips" seems to "help" sometimes in that when you select something, the loading bar appears for the tooltip immediately followed by the Move dialog. So at least you know your click registered.

[2015-06-29 18:58] acedanger commented on #271
tl;dr it's not an issue.
In the process of taking screen shots of the issue on my phone, I discovered that the menu behind the hamburger icon is scrollable. The loadout menu items are visible when I scroll.

Thanks for making me revisit it.

[2015-06-29 18:58] #271 closed

[2015-07-01 01:05] bigdave215 opened #272 "Armor Loadouts"
I am unable to transfer armor loadouts on a Samsung note 4.  When I try to transfer a loadout of armor it gives me a item will not be moved message.  It also has a picture of the vault instead of the character portrait.  When transferring the items back to the vault from a character it gives me the same message.

[2015-07-01 01:34] rkingsla commented on #272
Yes, I can reproduce the behavior. It's as if the only destination possible is the vault.  I can manually move items back and forth but using a defined loadout wants to move only to the vault. Oddly, it SAYS it will EQUIP the vault if I check the item to equip.  Obviously, this would be interesting to see.  :o)

[2015-07-01 01:35] rkingsla commented on #272
Apologies - Chrome version 2.82

[2015-07-02 01:09] M3Rocket opened #273 "Focused Light consumable not showing at Postmaster"
New item from Red Bull Destiny code not showing in TGD but is showing at Bungie.net
![image](https://cloud.githubusercontent.com/assets/3769123/8468097/36fa9750-201c-11e5-8972-dc336d4cce7b.png)

[2015-07-02 02:37] Mulchman commented on #273
Probably requires @dasilva333 running the update_definitions script?
On Jul 1, 2015 6:09 PM, "M3Rocket" <notifications@github.com> wrote:

[2015-07-02 14:01] Elmlea opened #274 "XP Function Not Working"
Using the Chrome build, V2.8.3.  When I select "missing XP," "full XP" or "maxed" from the "Progress" menu, nothing is displayed correctly.

For example, on selecting "missing XP," TGD displays some XP-filled but non-ascended 331 weapons.  It also displays some exotics ascended to 365, which are complete.

Selecting "full XP" brings up some weapons which I haven't put any XP into at all.

Selectin

[2015-07-02 14:13] dasilva333 commented on #274
This is a known issue with the Bungie API. I will try to list this under Known issues in the app somewhere to avoid further tickets created for this. Thanks for your feedback. Closing it out until it's resolved on Bungie's end

[2015-07-02 14:13] #274 closed

[2015-07-02 14:16] dasilva333 commented on #272
There's a whole bunch of tickets already open to get this issue addressed, closing this out in favor of the earlier ones. Thanks for your feedback. This will be fixed

[2015-07-02 14:16] #272 closed

[2015-07-02 14:17] dasilva333 commented on #273
I bought 2 cans of Red Bull yesterday I just didn't open them yet, will be opening them today and fixing this bug while I'm pumped up on Red Bull lol. Thanks for the feedback guys

[2015-07-02 14:18] dasilva333 commented on #260
This is an easy fix expect it resolved in the next version

[2015-07-03 22:27] dasilva333 commented on #273
I just got around to using the codes and it seems to be showing up for me just fine under Consumables, can you confirm? Thx

[2015-07-04 00:08] M3Rocket commented on #273
It may show under consumables AFTER you pick it up? I'm still not showing it at the Postmaster. I didn't pick mine up yet because I'm saving it for The Taken King to upgrade the new sub-class.

[2015-07-08 14:28] pbjelly31 opened #275 "Suggestion"
This might be a feature that I haven't figured out yet, but I find it a little tedious having to select an individual item and then select where to put that item before moving on to the next one. Being able to select multiple items and then select the destination would be much easier and quicker.

[2015-07-08 14:36] dasilva333 commented on #275
Try using the loadouts, that's what they're for. So you can create a group of items to quickly and easily move to a destination. I'll keep this suggestion open so I can think about a toggle mode for moving groups outside of loadouts. Thanks for your feedback

[2015-07-08 15:22] Mulchman commented on #275
Other behaviors (mass normalizing (normalizing more than 1 item at a time))
could benefit from a multi select mode as well.
On Jul 8, 2015 7:36 AM, "Richard Pinedo" <notifications@github.com> wrote:

[2015-07-08 19:34] pattont commented on #201
Just an update - this one appears resolved because the newest versions have been loading quickly on my iPad. Excellent work!!!

[2015-07-09 09:46] enyo commented on #243
I can confirm this behavior. It's the same with iOS preview 1, 2 and 3.

[2015-07-12 21:27] Mulchman commented on #275
Reading this again, and seeing a post on the DIM subreddit that's very similar to the idea @pbjelly31 suggested  (https://www.reddit.com/r/DestinyItemManager/comments/3co6ob/possible_solution_to_1_pulls_lag_time/), I can see where this would come in handy for me.

Yes, as @dasilva333 mentioned, loadouts can solve this problem but loadouts are very static and unchanging.

On mobile, especially my t

[2015-07-13 15:47] RavingGerbil opened #276 "All I see is "Hi" in the top left corner of my screen"
Nexus 6, most current android version.

[2015-07-13 16:12] Mulchman commented on #276
When the "hi" stays for more than 30 seconds I do this:

* hit home to get out of Tower Ghost for Destiny
* open Advanced Task Killer and kill Tower Ghost for Destiny
* hit the button that shows all currently open programs (on phone I hold down the home button for a second and on tablet there's a dedicated button to it) and slide the Tower Ghost for Destiny app off the list
* try opening Tower Gho

[2015-07-13 16:24] dasilva333 commented on #276
Thanks for answering this for me @Mulchman good set of directions there, closing out this issue as it's something I can't fix until I release a new store binary with Hydra thanks guys